configuration
node_modules
bower_components
npm-debug.log
coverage.html
vendor
.yardoc
doc
dist/appinfo.js
dist/tests.js

.idea
.DS_Store
config.json

t.js
t.html
test_*

tools
!tools/open_api_translator.js

test/*/testConfig.js