{
  "format": "pop",
  "apiVersion": "2014-05-26",
  "checksumFormat": "md5",
  "endpointPrefix": "ecs",
  "serviceAbbreviation": "ECS",
  "serviceFullName": "Aliyun ECS",
  "signatureVersion": "pop",
  "timestampFormat": "top",
  "xmlnamespace": "",
  "operations": {
    "allocateEipAddress": {
      "name": "AllocateEipAddress",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "AllocateEipAddress"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "Bandwidth": {
            "type": "string"
          },
          "InternetChargeType": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "ClientToken": {
            "type": "string"
          }
        }
      }
    },
    "allocatePublicIpAddress": {
      "name": "AllocatePublicIpAddress",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "AllocatePublicIpAddress"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "IpAddress": {
            "type": "string"
          },
          "VlanId": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "associateEipAddress": {
      "name": "AssociateEipAddress",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "AssociateEipAddress"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "AllocationId": {
            "required": true,
            "type": "string"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "InstanceType": {
            "type": "string"
          }
        }
      }
    },
    "attachDisk": {
      "name": "AttachDisk",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "AttachDisk"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "DiskId": {
            "required": true,
            "type": "string"
          },
          "Device": {
            "type": "string"
          },
          "DeleteWithInstance": {
            "type": "boolean"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "authorizeSecurityGroup": {
      "name": "AuthorizeSecurityGroup",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "AuthorizeSecurityGroup"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "SecurityGroupId": {
            "required": true,
            "type": "string"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "IpProtocol": {
            "required": true,
            "type": "string"
          },
          "PortRange": {
            "required": true,
            "type": "string"
          },
          "SourceGroupId": {
            "type": "string"
          },
          "SourceGroupOwnerId": {
            "type": "integer"
          },
          "SourceGroupOwnerAccount": {
            "type": "string"
          },
          "SourceCidrIp": {
            "type": "string"
          },
          "Policy": {
            "type": "string"
          },
          "Priority": {
            "type": "string"
          },
          "NicType": {
            "type": "string"
          },
          "ClientToken": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "authorizeSecurityGroupEgress": {
      "name": "AuthorizeSecurityGroupEgress",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "AuthorizeSecurityGroupEgress"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "SecurityGroupId": {
            "required": true,
            "type": "string"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "IpProtocol": {
            "required": true,
            "type": "string"
          },
          "PortRange": {
            "required": true,
            "type": "string"
          },
          "DestGroupId": {
            "type": "string"
          },
          "DestGroupOwnerId": {
            "type": "integer"
          },
          "DestGroupOwnerAccount": {
            "type": "string"
          },
          "DestCidrIp": {
            "type": "string"
          },
          "Policy": {
            "type": "string"
          },
          "Priority": {
            "type": "string"
          },
          "NicType": {
            "type": "string"
          },
          "ClientToken": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "bindIpRange": {
      "name": "BindIpRange",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "BindIpRange"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "IpAddress": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "cancelCopyImage": {
      "name": "CancelCopyImage",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "CancelCopyImage"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "ImageId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "checkAutoSnapshotPolicy": {
      "name": "CheckAutoSnapshotPolicy",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "CheckAutoSnapshotPolicy"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "SystemDiskPolicyEnabled": {
            "type": "boolean"
          },
          "SystemDiskPolicyTimePeriod": {
            "type": "integer"
          },
          "SystemDiskPolicyRetentionDays": {
            "type": "integer"
          },
          "SystemDiskPolicyRetentionLastWeek": {
            "type": "boolean"
          },
          "DataDiskPolicyEnabled": {
            "type": "boolean"
          },
          "DataDiskPolicyTimePeriod": {
            "type": "integer"
          },
          "DataDiskPolicyRetentionDays": {
            "type": "integer"
          },
          "DataDiskPolicyRetentionLastWeek": {
            "type": "boolean"
          }
        }
      }
    },
    "checkDiskEnableAutoSnapshotValidation": {
      "name": "CheckDiskEnableAutoSnapshotValidation",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "CheckDiskEnableAutoSnapshotValidation"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "DiskIds": {
            "required": true,
            "type": "string"
          }
        }
      }
    },
    "copyImage": {
      "name": "CopyImage",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "CopyImage"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "DestinationImageName": {
            "type": "string"
          },
          "DestinationDescription": {
            "type": "string"
          },
          "ImageId": {
            "required": true,
            "type": "string"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "DestinationRegionId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "Tag.1.Key": {
            "type": "string"
          },
          "Tag.2.Key": {
            "type": "string"
          },
          "Tag.3.Key": {
            "type": "string"
          },
          "Tag.4.Key": {
            "type": "string"
          },
          "Tag.5.Key": {
            "type": "string"
          },
          "Tag.1.Value": {
            "type": "string"
          },
          "Tag.2.Value": {
            "type": "string"
          },
          "Tag.3.Value": {
            "type": "string"
          },
          "Tag.4.Value": {
            "type": "string"
          },
          "Tag.5.Value": {
            "type": "string"
          }
        }
      }
    },
    "createDisk": {
      "name": "CreateDisk",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "CreateDisk"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "ZoneId": {
            "required": true,
            "type": "string"
          },
          "SnapshotId": {
            "type": "string"
          },
          "DiskName": {
            "type": "string"
          },
          "Size": {
            "type": "integer"
          },
          "DiskCategory": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ClientToken": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "Tag.1.Key": {
            "type": "string"
          },
          "Tag.2.Key": {
            "type": "string"
          },
          "Tag.3.Key": {
            "type": "string"
          },
          "Tag.4.Key": {
            "type": "string"
          },
          "Tag.5.Key": {
            "type": "string"
          },
          "Tag.1.Value": {
            "type": "string"
          },
          "Tag.2.Value": {
            "type": "string"
          },
          "Tag.3.Value": {
            "type": "string"
          },
          "Tag.4.Value": {
            "type": "string"
          },
          "Tag.5.Value": {
            "type": "string"
          }
        }
      }
    },
    "createImage": {
      "name": "CreateImage",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "CreateImage"
          },
          "DiskDeviceMapping": {
            "type": "repeatlist"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "SnapshotId": {
            "type": "string"
          },
          "InstanceId": {
            "type": "string"
          },
          "ImageName": {
            "type": "string"
          },
          "ImageVersion": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ClientToken": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "Tag.1.Key": {
            "type": "string"
          },
          "Tag.2.Key": {
            "type": "string"
          },
          "Tag.3.Key": {
            "type": "string"
          },
          "Tag.4.Key": {
            "type": "string"
          },
          "Tag.5.Key": {
            "type": "string"
          },
          "Tag.1.Value": {
            "type": "string"
          },
          "Tag.2.Value": {
            "type": "string"
          },
          "Tag.3.Value": {
            "type": "string"
          },
          "Tag.4.Value": {
            "type": "string"
          },
          "Tag.5.Value": {
            "type": "string"
          }
        }
      }
    },
    "createInstance": {
      "name": "CreateInstance",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "CreateInstance"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "ImageId": {
            "required": true,
            "type": "string"
          },
          "InstanceType": {
            "required": true,
            "type": "string"
          },
          "SecurityGroupId": {
            "type": "string"
          },
          "InstanceName": {
            "type": "string"
          },
          "InternetChargeType": {
            "type": "string"
          },
          "AutoRenew": {
            "type": "boolean"
          },
          "AutoRenewPeriod": {
            "type": "integer"
          },
          "InternetMaxBandwidthIn": {
            "type": "integer"
          },
          "InternetMaxBandwidthOut": {
            "type": "integer"
          },
          "HostName": {
            "type": "string"
          },
          "Password": {
            "type": "string"
          },
          "ZoneId": {
            "type": "string"
          },
          "ClusterId": {
            "type": "string"
          },
          "ClientToken": {
            "type": "string"
          },
          "VlanId": {
            "type": "string"
          },
          "InnerIpAddress": {
            "type": "string"
          },
          "SystemDisk.Size": {
            "type": "integer"
          },
          "SystemDisk.Category": {
            "type": "string"
          },
          "SystemDisk.DiskName": {
            "type": "string"
          },
          "SystemDisk.Description": {
            "type": "string"
          },
          "DataDisk.1.Size": {
            "type": "integer"
          },
          "DataDisk.1.Category": {
            "type": "string"
          },
          "DataDisk.1.SnapshotId": {
            "type": "string"
          },
          "DataDisk.1.DiskName": {
            "type": "string"
          },
          "DataDisk.1.Description": {
            "type": "string"
          },
          "DataDisk.1.Device": {
            "type": "string"
          },
          "DataDisk.1.DeleteWithInstance": {
            "type": "boolean"
          },
          "DataDisk.2.Size": {
            "type": "integer"
          },
          "DataDisk.2.Category": {
            "type": "string"
          },
          "DataDisk.2.SnapshotId": {
            "type": "string"
          },
          "DataDisk.2.DiskName": {
            "type": "string"
          },
          "DataDisk.2.Description": {
            "type": "string"
          },
          "DataDisk.2.Device": {
            "type": "string"
          },
          "DataDisk.2.DeleteWithInstance": {
            "type": "boolean"
          },
          "DataDisk.3.Size": {
            "type": "integer"
          },
          "DataDisk.3.Category": {
            "type": "string"
          },
          "DataDisk.3.SnapshotId": {
            "type": "string"
          },
          "DataDisk.3.DiskName": {
            "type": "string"
          },
          "DataDisk.3.Description": {
            "type": "string"
          },
          "DataDisk.3.Device": {
            "type": "string"
          },
          "DataDisk.3.DeleteWithInstance": {
            "type": "boolean"
          },
          "DataDisk.4.Size": {
            "type": "integer"
          },
          "DataDisk.4.Category": {
            "type": "string"
          },
          "DataDisk.4.SnapshotId": {
            "type": "string"
          },
          "DataDisk.4.DiskName": {
            "type": "string"
          },
          "DataDisk.4.Description": {
            "type": "string"
          },
          "DataDisk.4.Device": {
            "type": "string"
          },
          "DataDisk.4.DeleteWithInstance": {
            "type": "boolean"
          },
          "NodeControllerId": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "VSwitchId": {
            "type": "string"
          },
          "PrivateIpAddress": {
            "type": "string"
          },
          "IoOptimized": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "UseAdditionalService": {
            "type": "boolean"
          },
          "InstanceChargeType": {
            "type": "string"
          },
          "Period": {
            "type": "integer"
          },
          "Tag.1.Key": {
            "type": "string"
          },
          "Tag.2.Key": {
            "type": "string"
          },
          "Tag.3.Key": {
            "type": "string"
          },
          "Tag.4.Key": {
            "type": "string"
          },
          "Tag.5.Key": {
            "type": "string"
          },
          "Tag.1.Value": {
            "type": "string"
          },
          "Tag.2.Value": {
            "type": "string"
          },
          "Tag.3.Value": {
            "type": "string"
          },
          "Tag.4.Value": {
            "type": "string"
          },
          "Tag.5.Value": {
            "type": "string"
          },
          "UserData": {
            "type": "string"
          },
          "SpotStrategy": {
            "type": "string"
          }
        }
      }
    },
    "createRouteEntry": {
      "name": "CreateRouteEntry",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "CreateRouteEntry"
          },
          "NextHopList": {
            "type": "repeatlist"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RouteTableId": {
            "required": true,
            "type": "string"
          },
          "DestinationCidrBlock": {
            "required": true,
            "type": "string"
          },
          "NextHopId": {
            "type": "string"
          },
          "ClientToken": {
            "type": "string"
          },
          "NextHopType": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "createSecurityGroup": {
      "name": "CreateSecurityGroup",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "CreateSecurityGroup"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ClientToken": {
            "type": "string"
          },
          "SecurityGroupName": {
            "type": "string"
          },
          "VpcId": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "Tag.1.Key": {
            "type": "string"
          },
          "Tag.2.Key": {
            "type": "string"
          },
          "Tag.3.Key": {
            "type": "string"
          },
          "Tag.4.Key": {
            "type": "string"
          },
          "Tag.5.Key": {
            "type": "string"
          },
          "Tag.1.Value": {
            "type": "string"
          },
          "Tag.2.Value": {
            "type": "string"
          },
          "Tag.3.Value": {
            "type": "string"
          },
          "Tag.4.Value": {
            "type": "string"
          },
          "Tag.5.Value": {
            "type": "string"
          }
        }
      }
    },
    "createSnapshot": {
      "name": "CreateSnapshot",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "CreateSnapshot"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "DiskId": {
            "required": true,
            "type": "string"
          },
          "SnapshotName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ClientToken": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "Tag.1.Key": {
            "type": "string"
          },
          "Tag.2.Key": {
            "type": "string"
          },
          "Tag.3.Key": {
            "type": "string"
          },
          "Tag.4.Key": {
            "type": "string"
          },
          "Tag.5.Key": {
            "type": "string"
          },
          "Tag.1.Value": {
            "type": "string"
          },
          "Tag.2.Value": {
            "type": "string"
          },
          "Tag.3.Value": {
            "type": "string"
          },
          "Tag.4.Value": {
            "type": "string"
          },
          "Tag.5.Value": {
            "type": "string"
          }
        }
      }
    },
    "createVpc": {
      "name": "CreateVpc",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "CreateVpc"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "CidrBlock": {
            "type": "string"
          },
          "VpcName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ClientToken": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "UserCidr": {
            "type": "string"
          }
        }
      }
    },
    "createVSwitch": {
      "name": "CreateVSwitch",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "CreateVSwitch"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "ZoneId": {
            "required": true,
            "type": "string"
          },
          "CidrBlock": {
            "required": true,
            "type": "string"
          },
          "VpcId": {
            "required": true,
            "type": "string"
          },
          "VSwitchName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ClientToken": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "deleteDisk": {
      "name": "DeleteDisk",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DeleteDisk"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "DiskId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "deleteImage": {
      "name": "DeleteImage",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DeleteImage"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "ImageId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "deleteInstance": {
      "name": "DeleteInstance",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DeleteInstance"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "Force": {
            "type": "boolean"
          }
        }
      }
    },
    "deleteRouteEntry": {
      "name": "DeleteRouteEntry",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DeleteRouteEntry"
          },
          "NextHopList": {
            "type": "repeatlist"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RouteTableId": {
            "required": true,
            "type": "string"
          },
          "DestinationCidrBlock": {
            "required": true,
            "type": "string"
          },
          "NextHopId": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "deleteSecurityGroup": {
      "name": "DeleteSecurityGroup",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DeleteSecurityGroup"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "SecurityGroupId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "deleteSnapshot": {
      "name": "DeleteSnapshot",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DeleteSnapshot"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "SnapshotId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "deleteVpc": {
      "name": "DeleteVpc",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DeleteVpc"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "VpcId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "deleteVSwitch": {
      "name": "DeleteVSwitch",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DeleteVSwitch"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "VSwitchId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeAutoSnapshotPolicy": {
      "name": "DescribeAutoSnapshotPolicy",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeAutoSnapshotPolicy"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeClusters": {
      "name": "DescribeClusters",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeClusters"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeDiskMonitorData": {
      "name": "DescribeDiskMonitorData",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeDiskMonitorData"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "DiskId": {
            "required": true,
            "type": "string"
          },
          "StartTime": {
            "required": true,
            "type": "string"
          },
          "EndTime": {
            "required": true,
            "type": "string"
          },
          "Period": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeDisks": {
      "name": "DescribeDisks",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeDisks"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "ZoneId": {
            "type": "string"
          },
          "DiskIds": {
            "type": "string"
          },
          "InstanceId": {
            "type": "string"
          },
          "DiskType": {
            "type": "string"
          },
          "Category": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          },
          "SnapshotId": {
            "type": "string"
          },
          "Portable": {
            "type": "boolean"
          },
          "DeleteWithInstance": {
            "type": "boolean"
          },
          "DeleteAutoSnapshot": {
            "type": "boolean"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "DiskName": {
            "type": "string"
          },
          "AutoSnapshotPolicyId": {
            "type": "string"
          },
          "EnableAutoSnapshot": {
            "type": "boolean"
          },
          "EnableAutomatedSnapshotPolicy": {
            "type": "boolean"
          },
          "DiskChargeType": {
            "type": "string"
          },
          "LockReason": {
            "type": "string"
          },
          "Filter.1.Key": {
            "type": "string"
          },
          "Filter.2.Key": {
            "type": "string"
          },
          "Filter.1.Value": {
            "type": "string"
          },
          "Filter.2.Value": {
            "type": "string"
          },
          "Tag.1.Key": {
            "type": "string"
          },
          "Tag.2.Key": {
            "type": "string"
          },
          "Tag.3.Key": {
            "type": "string"
          },
          "Tag.4.Key": {
            "type": "string"
          },
          "Tag.5.Key": {
            "type": "string"
          },
          "Tag.1.Value": {
            "type": "string"
          },
          "Tag.2.Value": {
            "type": "string"
          },
          "Tag.3.Value": {
            "type": "string"
          },
          "Tag.4.Value": {
            "type": "string"
          },
          "Tag.5.Value": {
            "type": "string"
          }
        }
      }
    },
    "describeEipAddresses": {
      "name": "DescribeEipAddresses",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeEipAddresses"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "Status": {
            "type": "string"
          },
          "EipAddress": {
            "type": "string"
          },
          "AllocationId": {
            "type": "string"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "Filter.1.Key": {
            "type": "string"
          },
          "Filter.2.Key": {
            "type": "string"
          },
          "Filter.1.Value": {
            "type": "string"
          },
          "Filter.2.Value": {
            "type": "string"
          },
          "LockReason": {
            "type": "string"
          },
          "AssociatedInstanceType": {
            "type": "string"
          },
          "AssociatedInstanceId": {
            "type": "string"
          },
          "ChargeType": {
            "type": "string"
          }
        }
      }
    },
    "describeEipMonitorData": {
      "name": "DescribeEipMonitorData",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeEipMonitorData"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "AllocationId": {
            "required": true,
            "type": "string"
          },
          "StartTime": {
            "required": true,
            "type": "string"
          },
          "EndTime": {
            "required": true,
            "type": "string"
          },
          "Period": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeImages": {
      "name": "DescribeImages",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeImages"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "Status": {
            "type": "string"
          },
          "ImageId": {
            "type": "string"
          },
          "ShowExpired": {
            "type": "boolean"
          },
          "SnapshotId": {
            "type": "string"
          },
          "ImageName": {
            "type": "string"
          },
          "ImageOwnerAlias": {
            "type": "string"
          },
          "InstanceType": {
            "type": "string"
          },
          "IsSupportIoOptimized": {
            "type": "boolean"
          },
          "OSType": {
            "type": "string"
          },
          "Architecture": {
            "type": "string"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "Filter.1.Key": {
            "type": "string"
          },
          "Filter.2.Key": {
            "type": "string"
          },
          "Filter.1.Value": {
            "type": "string"
          },
          "Filter.2.Value": {
            "type": "string"
          },
          "Usage": {
            "type": "string"
          },
          "Tag.1.Key": {
            "type": "string"
          },
          "Tag.2.Key": {
            "type": "string"
          },
          "Tag.3.Key": {
            "type": "string"
          },
          "Tag.4.Key": {
            "type": "string"
          },
          "Tag.5.Key": {
            "type": "string"
          },
          "Tag.1.Value": {
            "type": "string"
          },
          "Tag.2.Value": {
            "type": "string"
          },
          "Tag.3.Value": {
            "type": "string"
          },
          "Tag.4.Value": {
            "type": "string"
          },
          "Tag.5.Value": {
            "type": "string"
          }
        }
      }
    },
    "describeImageSharePermission": {
      "name": "DescribeImageSharePermission",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeImageSharePermission"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "ImageId": {
            "required": true,
            "type": "string"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeInstanceAttribute": {
      "name": "DescribeInstanceAttribute",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeInstanceAttribute"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeInstanceMonitorData": {
      "name": "DescribeInstanceMonitorData",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeInstanceMonitorData"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "StartTime": {
            "required": true,
            "type": "string"
          },
          "EndTime": {
            "required": true,
            "type": "string"
          },
          "Period": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeInstancePhysicalAttribute": {
      "name": "DescribeInstancePhysicalAttribute",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeInstancePhysicalAttribute"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeInstances": {
      "name": "DescribeInstances",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeInstances"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "VpcId": {
            "type": "string"
          },
          "VSwitchId": {
            "type": "string"
          },
          "ZoneId": {
            "type": "string"
          },
          "InstanceNetworkType": {
            "type": "string"
          },
          "SecurityGroupId": {
            "type": "string"
          },
          "InstanceIds": {
            "type": "string"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "InnerIpAddresses": {
            "type": "string"
          },
          "PrivateIpAddresses": {
            "type": "string"
          },
          "PublicIpAddresses": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "InstanceChargeType": {
            "type": "string"
          },
          "InternetChargeType": {
            "type": "string"
          },
          "InstanceName": {
            "type": "string"
          },
          "ImageId": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          },
          "LockReason": {
            "type": "string"
          },
          "Filter.1.Key": {
            "type": "string"
          },
          "Filter.2.Key": {
            "type": "string"
          },
          "Filter.3.Key": {
            "type": "string"
          },
          "Filter.4.Key": {
            "type": "string"
          },
          "Filter.1.Value": {
            "type": "string"
          },
          "Filter.2.Value": {
            "type": "string"
          },
          "Filter.3.Value": {
            "type": "string"
          },
          "Filter.4.Value": {
            "type": "string"
          },
          "DeviceAvailable": {
            "type": "boolean"
          },
          "IoOptimized": {
            "type": "boolean"
          },
          "Tag.1.Key": {
            "type": "string"
          },
          "Tag.2.Key": {
            "type": "string"
          },
          "Tag.3.Key": {
            "type": "string"
          },
          "Tag.4.Key": {
            "type": "string"
          },
          "Tag.5.Key": {
            "type": "string"
          },
          "Tag.1.Value": {
            "type": "string"
          },
          "Tag.2.Value": {
            "type": "string"
          },
          "Tag.3.Value": {
            "type": "string"
          },
          "Tag.4.Value": {
            "type": "string"
          },
          "Tag.5.Value": {
            "type": "string"
          },
          "InstanceType": {
            "type": "string"
          },
          "InstanceTypeFamily": {
            "type": "string"
          }
        }
      }
    },
    "describeInstanceStatus": {
      "name": "DescribeInstanceStatus",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeInstanceStatus"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "ZoneId": {
            "type": "string"
          },
          "ClusterId": {
            "type": "string"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeInstanceTypes": {
      "name": "DescribeInstanceTypes",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeInstanceTypes"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "InstanceTypeFamily": {
            "type": "string"
          }
        }
      }
    },
    "describeInstanceVncPasswd": {
      "name": "DescribeInstanceVncPasswd",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeInstanceVncPasswd"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeInstanceVncUrl": {
      "name": "DescribeInstanceVncUrl",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeInstanceVncUrl"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeIntranetAttributeKb": {
      "name": "DescribeIntranetAttributeKb",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeIntranetAttributeKb"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeIpRanges": {
      "name": "DescribeIpRanges",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeIpRanges"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "ClusterId": {
            "required": true,
            "type": "string"
          },
          "NicType": {
            "required": true,
            "type": "string"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeLimitation": {
      "name": "DescribeLimitation",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeLimitation"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "Limitation": {
            "required": true,
            "type": "string"
          }
        }
      }
    },
    "describeRegions": {
      "name": "DescribeRegions",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeRegions"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeRouteTables": {
      "name": "DescribeRouteTables",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeRouteTables"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "VRouterId": {
            "type": "string"
          },
          "RouteTableId": {
            "type": "string"
          },
          "RouterType": {
            "type": "string"
          },
          "RouterId": {
            "type": "string"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeSecurityGroupAttribute": {
      "name": "DescribeSecurityGroupAttribute",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeSecurityGroupAttribute"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "SecurityGroupId": {
            "required": true,
            "type": "string"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "NicType": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "Direction": {
            "type": "string"
          }
        }
      }
    },
    "describeSecurityGroups": {
      "name": "DescribeSecurityGroups",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeSecurityGroups"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "VpcId": {
            "type": "string"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "SecurityGroupIds": {
            "type": "string"
          },
          "Tag.1.Key": {
            "type": "string"
          },
          "Tag.2.Key": {
            "type": "string"
          },
          "Tag.3.Key": {
            "type": "string"
          },
          "Tag.4.Key": {
            "type": "string"
          },
          "Tag.5.Key": {
            "type": "string"
          },
          "Tag.1.Value": {
            "type": "string"
          },
          "Tag.2.Value": {
            "type": "string"
          },
          "Tag.3.Value": {
            "type": "string"
          },
          "Tag.4.Value": {
            "type": "string"
          },
          "Tag.5.Value": {
            "type": "string"
          },
          "NetworkType": {
            "type": "string"
          },
          "SecurityGroupId": {
            "type": "string"
          },
          "SecurityGroupName": {
            "type": "string"
          },
          "IsQueryEcsCount": {
            "type": "boolean"
          },
          "FuzzyQuery": {
            "type": "boolean"
          }
        }
      }
    },
    "describeSnapshots": {
      "name": "DescribeSnapshots",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeSnapshots"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "type": "string"
          },
          "DiskId": {
            "type": "string"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "SnapshotIds": {
            "type": "string"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "SnapshotName": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          },
          "SnapshotType": {
            "type": "string"
          },
          "Filter.1.Key": {
            "type": "string"
          },
          "Filter.2.Key": {
            "type": "string"
          },
          "Filter.1.Value": {
            "type": "string"
          },
          "Filter.2.Value": {
            "type": "string"
          },
          "Usage": {
            "type": "string"
          },
          "SourceDiskType": {
            "type": "string"
          },
          "Tag.1.Key": {
            "type": "string"
          },
          "Tag.2.Key": {
            "type": "string"
          },
          "Tag.3.Key": {
            "type": "string"
          },
          "Tag.4.Key": {
            "type": "string"
          },
          "Tag.5.Key": {
            "type": "string"
          },
          "Tag.1.Value": {
            "type": "string"
          },
          "Tag.2.Value": {
            "type": "string"
          },
          "Tag.3.Value": {
            "type": "string"
          },
          "Tag.4.Value": {
            "type": "string"
          },
          "Tag.5.Value": {
            "type": "string"
          }
        }
      }
    },
    "describeVpcs": {
      "name": "DescribeVpcs",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeVpcs"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "VpcId": {
            "type": "string"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "IsDefault": {
            "type": "boolean"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeVRouters": {
      "name": "DescribeVRouters",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeVRouters"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "VRouterId": {
            "type": "string"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeVSwitches": {
      "name": "DescribeVSwitches",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeVSwitches"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "VpcId": {
            "required": true,
            "type": "string"
          },
          "VSwitchId": {
            "type": "string"
          },
          "ZoneId": {
            "type": "string"
          },
          "IsDefault": {
            "type": "boolean"
          },
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "describeZones": {
      "name": "DescribeZones",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DescribeZones"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "Verbose": {
            "type": "boolean"
          }
        }
      }
    },
    "detachDisk": {
      "name": "DetachDisk",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "DetachDisk"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "DiskId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "joinSecurityGroup": {
      "name": "JoinSecurityGroup",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "JoinSecurityGroup"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "SecurityGroupId": {
            "required": true,
            "type": "string"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "leaveSecurityGroup": {
      "name": "LeaveSecurityGroup",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "LeaveSecurityGroup"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "SecurityGroupId": {
            "required": true,
            "type": "string"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "modifyAutoSnapshotPolicy": {
      "name": "ModifyAutoSnapshotPolicy",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyAutoSnapshotPolicy"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "SystemDiskPolicyEnabled": {
            "type": "boolean"
          },
          "SystemDiskPolicyTimePeriod": {
            "type": "integer"
          },
          "SystemDiskPolicyRetentionDays": {
            "type": "integer"
          },
          "SystemDiskPolicyRetentionLastWeek": {
            "type": "boolean"
          },
          "DataDiskPolicyEnabled": {
            "type": "boolean"
          },
          "DataDiskPolicyTimePeriod": {
            "type": "integer"
          },
          "DataDiskPolicyRetentionDays": {
            "type": "integer"
          },
          "DataDiskPolicyRetentionLastWeek": {
            "type": "boolean"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "modifyDiskAttribute": {
      "name": "ModifyDiskAttribute",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyDiskAttribute"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "DiskId": {
            "required": true,
            "type": "string"
          },
          "DiskName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "DeleteWithInstance": {
            "type": "boolean"
          },
          "DeleteAutoSnapshot": {
            "type": "boolean"
          },
          "EnableAutoSnapshot": {
            "type": "boolean"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "modifyEipAddressAttribute": {
      "name": "ModifyEipAddressAttribute",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyEipAddressAttribute"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "AllocationId": {
            "required": true,
            "type": "string"
          },
          "Bandwidth": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "modifyImageAttribute": {
      "name": "ModifyImageAttribute",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyImageAttribute"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "ImageId": {
            "required": true,
            "type": "string"
          },
          "ImageName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "modifyImageShareGroupPermission": {
      "name": "ModifyImageShareGroupPermission",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyImageShareGroupPermission"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "ImageId": {
            "required": true,
            "type": "string"
          },
          "AddGroup.1": {
            "type": "string"
          },
          "RemoveGroup.1": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "modifyImageSharePermission": {
      "name": "ModifyImageSharePermission",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyImageSharePermission"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "ImageId": {
            "required": true,
            "type": "string"
          },
          "AddAccount.1": {
            "type": "string"
          },
          "AddAccount.2": {
            "type": "string"
          },
          "AddAccount.3": {
            "type": "string"
          },
          "AddAccount.4": {
            "type": "string"
          },
          "AddAccount.5": {
            "type": "string"
          },
          "AddAccount.6": {
            "type": "string"
          },
          "AddAccount.7": {
            "type": "string"
          },
          "AddAccount.8": {
            "type": "string"
          },
          "AddAccount.9": {
            "type": "string"
          },
          "AddAccount.10": {
            "type": "string"
          },
          "RemoveAccount.1": {
            "type": "string"
          },
          "RemoveAccount.2": {
            "type": "string"
          },
          "RemoveAccount.3": {
            "type": "string"
          },
          "RemoveAccount.4": {
            "type": "string"
          },
          "RemoveAccount.5": {
            "type": "string"
          },
          "RemoveAccount.6": {
            "type": "string"
          },
          "RemoveAccount.7": {
            "type": "string"
          },
          "RemoveAccount.8": {
            "type": "string"
          },
          "RemoveAccount.9": {
            "type": "string"
          },
          "RemoveAccount.10": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "modifyInstanceAttribute": {
      "name": "ModifyInstanceAttribute",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyInstanceAttribute"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "Password": {
            "type": "string"
          },
          "HostName": {
            "type": "string"
          },
          "InstanceName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "UserData": {
            "type": "string"
          }
        }
      }
    },
    "modifyInstanceNetworkSpec": {
      "name": "ModifyInstanceNetworkSpec",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyInstanceNetworkSpec"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "InternetMaxBandwidthOut": {
            "type": "integer"
          },
          "InternetMaxBandwidthIn": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "modifyInstanceSpec": {
      "name": "ModifyInstanceSpec",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyInstanceSpec"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "InstanceType": {
            "type": "string"
          },
          "InternetMaxBandwidthOut": {
            "type": "integer"
          },
          "InternetMaxBandwidthIn": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "Temporary.StartTime": {
            "type": "string"
          },
          "Temporary.EndTime": {
            "type": "string"
          },
          "Temporary.InternetMaxBandwidthOut": {
            "type": "integer"
          },
          "Async": {
            "type": "boolean"
          }
        }
      }
    },
    "modifyInstanceVncPasswd": {
      "name": "ModifyInstanceVncPasswd",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyInstanceVncPasswd"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "VncPassword": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "modifyInstanceVpcAttribute": {
      "name": "ModifyInstanceVpcAttribute",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyInstanceVpcAttribute"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "VSwitchId": {
            "required": true,
            "type": "string"
          },
          "PrivateIpAddress": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "modifyIntranetBandwidthKb": {
      "name": "ModifyIntranetBandwidthKb",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyIntranetBandwidthKb"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "IntranetMaxBandwidthIn": {
            "type": "integer"
          },
          "IntranetMaxBandwidthOut": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "modifySecurityGroupAttribute": {
      "name": "ModifySecurityGroupAttribute",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifySecurityGroupAttribute"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "SecurityGroupId": {
            "required": true,
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "SecurityGroupName": {
            "type": "string"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "modifySnapshotAttribute": {
      "name": "ModifySnapshotAttribute",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifySnapshotAttribute"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "SnapshotId": {
            "required": true,
            "type": "string"
          },
          "SnapshotName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          }
        }
      }
    },
    "modifyVpcAttribute": {
      "name": "ModifyVpcAttribute",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyVpcAttribute"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "VpcId": {
            "required": true,
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "VpcName": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "UserCidr": {
            "type": "string"
          }
        }
      }
    },
    "modifyVRouterAttribute": {
      "name": "ModifyVRouterAttribute",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyVRouterAttribute"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "VRouterId": {
            "required": true,
            "type": "string"
          },
          "VRouterName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "modifyVSwitchAttribute": {
      "name": "ModifyVSwitchAttribute",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ModifyVSwitchAttribute"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "VSwitchId": {
            "required": true,
            "type": "string"
          },
          "VSwitchName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "rebootInstance": {
      "name": "RebootInstance",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "RebootInstance"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "ForceStop": {
            "type": "boolean"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "reInitDisk": {
      "name": "ReInitDisk",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ReInitDisk"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "DiskId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "Password": {
            "type": "string"
          }
        }
      }
    },
    "releaseEipAddress": {
      "name": "ReleaseEipAddress",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ReleaseEipAddress"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "AllocationId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "releasePublicIpAddress": {
      "name": "ReleasePublicIpAddress",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ReleasePublicIpAddress"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "type": "string"
          },
          "PublicIpAddress": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "replaceSystemDisk": {
      "name": "ReplaceSystemDisk",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ReplaceSystemDisk"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "InstanceId": {
            "required": true,
            "type": "string"
          },
          "ImageId": {
            "required": true,
            "type": "string"
          },
          "SystemDisk.Size": {
            "type": "integer"
          },
          "ClientToken": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          },
          "UseAdditionalService": {
            "type": "boolean"
          },
          "Password": {
            "type": "string"
          }
        }
      }
    },
    "resetDisk": {
      "name": "ResetDisk",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ResetDisk"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "DiskId": {
            "required": true,
            "type": "string"
          },
          "SnapshotId": {
            "required": true,
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "resizeDisk": {
      "name": "ResizeDisk",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "ResizeDisk"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "DiskId": {
            "required": true,
            "type": "string"
          },
          "NewSize": {
            "required": true,
            "type": "integer"
          },
          "ClientToken": {
            "type": "string"
          },
          "OwnerAccount": {
            "type": "string"
          }
        }
      }
    },
    "revokeSecurityGroup": {
      "name": "RevokeSecurityGroup",
      "http": {
        "method": "POST",
        "uri":"/"
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {
            "required": true,
            "default": "RevokeSecurityGroup"
          },
          "OwnerId": {
            "type": "integer"
          },
          "ResourceOwnerAccount": {
            "type": "string"
          },
          "ResourceOwnerId": {
            "type": "integer"
          },
          "SecurityGroupId": {
            "required": true,
            "type": "string"
          },
          "RegionId": {
            "required": true,
            "type": "string"
          },
          "IpProtocol": {
            "required": true,
            "type": "string"
          },
          "PortRange": {
            "required": true,
            "type": "string"
          },
          "SourceGroupId": {
            "type": "string"
          },
[...]
