{
	"format": "pop",
	"apiVersion": "2014-06-18", 
	"checksumFormat": "md5",
	"endpointPrefix": "mts", 
	"serviceAbbreviation": "Aliyun MTS", 
	"serviceFullName": "Aliyun MTS", 
	"signatureVersion": "pop",
	"timestampFormat": "top",
	"xmlnamespace": "",
	"operations": {
		"submitJobs": {  
			"name": "SubmitJobs",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SubmitJobs"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Input": {
						"required": true,
						"type": "string"
					},
					"Outputs": {
						"required": true,
						"type": "string"
					},
					"OutputBucket": {
						"required": true,
						"type": "string"
					},
					"OutputLocation": {
						"type": "string"
					},
					"PipelineId": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"addPipeline": {  
			"name": "AddPipeline",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "AddPipeline"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Name": {
						"required": true,
						"type": "string"
					},
					"Speed": {
						"type": "string"
					},
					"NotifyConfig": {
						"type": "string"
					},
					"Role": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"addTemplate": {  
			"name": "AddTemplate",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "AddTemplate"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Name": {
						"required": true,
						"type": "string"
					},
					"Container": {
						"type": "string"
					},
					"Video": {
						"type": "string"
					},
					"Audio": {
						"type": "string"
					},
					"TransConfig": {
						"type": "string"
					},
					"MuxConfig": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"addWaterMarkTemplate": {  
			"name": "AddWaterMarkTemplate",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "AddWaterMarkTemplate"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Name": {
						"required": true,
						"type": "string"
					},
					"Config": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"deletePipeline": {  
			"name": "DeletePipeline",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "DeletePipeline"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"PipelineId": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"deleteWaterMarkTemplate": {  
			"name": "DeleteWaterMarkTemplate",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "DeleteWaterMarkTemplate"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"WaterMarkTemplateId": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"playerAuth": {  
			"name": "PlayerAuth",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "PlayerAuth"
					},
					"OwnerId": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "string"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryJobList": {  
			"name": "QueryJobList",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryJobList"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"JobIds": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryJobListByPid": {  
			"name": "QueryJobListByPid",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryJobListByPid"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"PipelineId": {
						"type": "string"
					},
					"PageSize": {
						"type": "integer"
					},
					"PageNumber": {
						"type": "integer"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryMediaInfoJobList": {  
			"name": "QueryMediaInfoJobList",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryMediaInfoJobList"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaInfoJobIds": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryMetaInfoJobList": {  
			"name": "QueryMetaInfoJobList",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryMetaInfoJobList"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MetaInfoJobIds": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryPipelineList": {  
			"name": "QueryPipelineList",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryPipelineList"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"PipelineIds": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"querySnapshotJobList": {  
			"name": "QuerySnapshotJobList",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QuerySnapshotJobList"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"SnapshotJobIds": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryTemplateList": {  
			"name": "QueryTemplateList",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryTemplateList"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"TemplateIds": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryWaterMarkTemplateList": {  
			"name": "QueryWaterMarkTemplateList",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryWaterMarkTemplateList"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"WaterMarkTemplateIds": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"searchPipeline": {  
			"name": "SearchPipeline",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SearchPipeline"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"PageSize": {
						"type": "integer"
					},
					"PageNumber": {
						"type": "integer"
					},
					"State": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"searchJob": {  
			"name": "SearchJob",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SearchJob"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"PageSize": {
						"type": "integer"
					},
					"PageNumber": {
						"type": "integer"
					},
					"State": {
						"type": "string"
					},
					"StartOfJobCreatedTimeRange": {
						"type": "string"
					},
					"EndOfJobCreatedTimeRange": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"searchTemplate": {  
			"name": "SearchTemplate",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SearchTemplate"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"PageSize": {
						"type": "integer"
					},
					"PageNumber": {
						"type": "integer"
					},
					"State": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"searchWaterMarkTemplate": {  
			"name": "SearchWaterMarkTemplate",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SearchWaterMarkTemplate"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"PageSize": {
						"type": "integer"
					},
					"PageNumber": {
						"type": "integer"
					},
					"State": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"submitAnalysisJob": {  
			"name": "SubmitAnalysisJob",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SubmitAnalysisJob"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Input": {
						"required": true,
						"type": "string"
					},
					"AnalysisConfig": {
						"type": "string"
					},
					"UserData": {
						"type": "string"
					},
					"PipelineId": {
						"required": true,
						"type": "string"
					},
					"Priority": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"submitMediaInfoJob": {  
			"name": "SubmitMediaInfoJob",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SubmitMediaInfoJob"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Input": {
						"required": true,
						"type": "string"
					},
					"UserData": {
						"type": "string"
					},
					"PipelineId": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"submitMetaInfoJob": {  
			"name": "SubmitMetaInfoJob",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SubmitMetaInfoJob"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Input": {
						"required": true,
						"type": "string"
					},
					"UserData": {
						"type": "string"
					},
					"PipelineId": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"submitSnapshotJob": {  
			"name": "SubmitSnapshotJob",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SubmitSnapshotJob"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Input": {
						"required": true,
						"type": "string"
					},
					"SnapshotConfig": {
						"required": true,
						"type": "string"
					},
					"UserData": {
						"type": "string"
					},
					"PipelineId": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"updatePipeline": {  
			"name": "UpdatePipeline",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "UpdatePipeline"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"PipelineId": {
						"required": true,
						"type": "string"
					},
					"Name": {
						"required": true,
						"type": "string"
					},
					"State": {
						"required": true,
						"type": "string"
					},
					"NotifyConfig": {
						"type": "string"
					},
					"Role": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"updateTemplate": {  
			"name": "UpdateTemplate",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "UpdateTemplate"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"TemplateId": {
						"required": true,
						"type": "string"
					},
					"Name": {
						"required": true,
						"type": "string"
					},
					"Container": {
						"type": "string"
					},
					"Video": {
						"type": "string"
					},
					"Audio": {
						"type": "string"
					},
					"MuxConfig": {
						"type": "string"
					},
					"TransConfig": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"updateWaterMarkTemplate": {  
			"name": "UpdateWaterMarkTemplate",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "UpdateWaterMarkTemplate"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"WaterMarkTemplateId": {
						"required": true,
						"type": "string"
					},
					"Name": {
						"required": true,
						"type": "string"
					},
					"Config": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryAnalysisJobList": {  
			"name": "QueryAnalysisJobList",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryAnalysisJobList"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"AnalysisJobIds": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"cancelJob": {  
			"name": "CancelJob",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "CancelJob"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"JobId": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"deleteTemplate": {  
			"name": "DeleteTemplate",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "DeleteTemplate"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"TemplateId": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"registerWorkflowType": {  
			"name": "RegisterWorkflowType",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "RegisterWorkflowType"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Name": {
						"required": true,
						"type": "string"
					},
					"Definition": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"startWorkflowExecution": {  
			"name": "StartWorkflowExecution",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "StartWorkflowExecution"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Input": {
						"required": true,
						"type": "string"
					},
					"WorkflowType": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"registerMediaWorkflowType": {  
			"name": "RegisterMediaWorkflowType",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "RegisterMediaWorkflowType"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Name": {
						"required": true,
						"type": "string"
					},
					"Definition": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"startMediaWorkflowExecution": {  
			"name": "StartMediaWorkflowExecution",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "StartMediaWorkflowExecution"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Input": {
						"required": true,
						"type": "string"
					},
					"Name": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryJobListByFile": {  
			"name": "QueryJobListByFile",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryJobListByFile"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Bucket": {
						"type": "string"
					},
					"Location": {
						"type": "string"
					},
					"Object": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"addMediaWorkflow": {  
			"name": "AddMediaWorkflow",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "AddMediaWorkflow"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Name": {
						"required": true,
						"type": "string"
					},
					"Topology": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"deleteMediaWorkflow": {  
			"name": "DeleteMediaWorkflow",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "DeleteMediaWorkflow"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaWorkflowId": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryMediaWorkflowExecutionList": {  
			"name": "QueryMediaWorkflowExecutionList",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryMediaWorkflowExecutionList"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"RunIds": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryMediaWorkflowList": {  
			"name": "QueryMediaWorkflowList",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryMediaWorkflowList"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaWorkflowIds": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"searchMediaWorkflowExecution": {  
			"name": "SearchMediaWorkflowExecution",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SearchMediaWorkflowExecution"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaWorkflowName": {
						"type": "string"
					},
					"FileURLs": {
						"type": "string"
					},
					"PageSize": {
						"type": "integer"
					},
					"PageNumber": {
						"type": "integer"
					},
					"StateList": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"searchMediaWorkflow": {  
			"name": "SearchMediaWorkflow",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SearchMediaWorkflow"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"PageSize": {
						"type": "integer"
					},
					"PageNumber": {
						"type": "integer"
					},
					"StateList": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"stopMediaWorkflow": {  
			"name": "StopMediaWorkflow",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "StopMediaWorkflow"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaWorkflowId": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"submitMediaWorkflow": {  
			"name": "SubmitMediaWorkflow",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SubmitMediaWorkflow"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaWorkflowId": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"updateMediaWorkflow": {  
			"name": "UpdateMediaWorkflow",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "UpdateMediaWorkflow"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaWorkflowId": {
						"required": true,
						"type": "string"
					},
					"Topology": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"activateMediaWorkflow": {  
			"name": "ActivateMediaWorkflow",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "ActivateMediaWorkflow"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaWorkflowId": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"deactivateMediaWorkflow": {  
			"name": "DeactivateMediaWorkflow",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "DeactivateMediaWorkflow"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaWorkflowId": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"deleteMedia": {  
			"name": "DeleteMedia",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "DeleteMedia"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaIds": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryMediaList": {  
			"name": "QueryMediaList",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryMediaList"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaIds": {
						"required": true,
						"type": "string"
					},
					"IncludePlayList": {
						"type": "boolean"
					},
					"IncludeSnapshotList": {
						"type": "boolean"
					},
					"IncludeMediaInfo": {
						"type": "boolean"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryMediaWorkflowListByName": {  
			"name": "QueryMediaWorkflowListByName",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryMediaWorkflowListByName"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Names": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"searchMedia": {  
			"name": "SearchMedia",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SearchMedia"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"From": {
						"type": "string"
					},
					"To": {
						"type": "string"
					},
					"KeyWord": {
						"type": "string"
					},
					"Title": {
						"type": "string"
					},
					"Description": {
						"type": "string"
					},
					"Tag": {
						"type": "string"
					},
					"CateId": {
						"type": "string"
					},
					"SortBy": {
						"type": "string"
					},
					"PageSize": {
						"type": "integer"
					},
					"PageNumber": {
						"type": "integer"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"querySystemTemplateList": {  
			"name": "QuerySystemTemplateList",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QuerySystemTemplateList"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"TemplateIds": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"listSystemTemplate": {  
			"name": "ListSystemTemplate",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "ListSystemTemplate"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Type": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"listMediaWorkflowExecutions": {  
			"name": "ListMediaWorkflowExecutions",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "ListMediaWorkflowExecutions"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaWorkflowId": {
						"type": "string"
					},
					"MediaWorkflowName": {
						"type": "string"
					},
					"InputFileURL": {
						"type": "string"
					},
					"NextPageToken": {
						"type": "string"
					},
					"MaximumPageSize": {
						"type": "integer"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"listJob": {  
			"name": "ListJob",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "ListJob"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"NextPageToken": {
						"type": "string"
					},
					"MaximumPageSize": {
						"type": "integer"
					},
					"State": {
						"type": "string"
					},
					"StartOfJobCreatedTimeRange": {
						"type": "string"
					},
					"EndOfJobCreatedTimeRange": {
						"type": "string"
					},
					"PipelineId": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"addCategory": {  
			"name": "AddCategory",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "AddCategory"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"CateName": {
						"required": true,
						"type": "string"
					},
					"ParentId": {
						"type": "integer"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"addMediaTag": {  
			"name": "AddMediaTag",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "AddMediaTag"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaId": {
						"required": true,
						"type": "string"
					},
					"Tag": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"categoryTree": {  
			"name": "CategoryTree",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "CategoryTree"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"deleteMediaTag": {  
			"name": "DeleteMediaTag",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "DeleteMediaTag"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaId": {
						"required": true,
						"type": "string"
					},
					"Tag": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"deleteCategory": {  
			"name": "DeleteCategory",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "DeleteCategory"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"CateId": {
						"required": true,
						"type": "integer"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"listAllCategory": {  
			"name": "ListAllCategory",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "ListAllCategory"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"queryMediaListByURL": {  
			"name": "QueryMediaListByURL",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryMediaListByURL"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"FileURLs": {
						"required": true,
						"type": "string"
					},
					"IncludePlayList": {
						"type": "boolean"
					},
					"IncludeSnapshotList": {
						"type": "boolean"
					},
					"IncludeMediaInfo": {
						"type": "boolean"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"updateMediaCategory": {  
			"name": "UpdateMediaCategory",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "UpdateMediaCategory"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaId": {
						"required": true,
						"type": "string"
					},
					"CateId": {
						"type": "integer"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"updateMedia": {  
			"name": "UpdateMedia",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "UpdateMedia"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaId": {
						"required": true,
						"type": "string"
					},
					"Title": {
						"type": "string"
					},
					"Description": {
						"type": "string"
					},
					"CoverURL": {
						"type": "string"
					},
					"CateId": {
						"type": "integer"
					},
					"Tags": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"updateCategoryName": {  
			"name": "UpdateCategoryName",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "UpdateCategoryName"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"CateId": {
						"required": true,
						"type": "string"
					},
					"CateName": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"updateMediaPublishState": {  
			"name": "UpdateMediaPublishState",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "UpdateMediaPublishState"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaId": {
						"required": true,
						"type": "string"
					},
					"Publish": {
						"type": "boolean"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"updateMediaCover": {  
			"name": "UpdateMediaCover",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "UpdateMediaCover"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaId": {
						"required": true,
						"type": "string"
					},
					"CoverURL": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"addMediaBucket": {  
			"name": "AddMediaBucket",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "AddMediaBucket"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Bucket": {
						"required": true,
						"type": "string"
					},
					"Type": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"listAllMediaBucket": {  
			"name": "ListAllMediaBucket",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "ListAllMediaBucket"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"addMedia": {  
			"name": "AddMedia",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "AddMedia"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"FileURL": {
						"required": true,
						"type": "string"
					},
					"Title": {
						"type": "string"
					},
					"Description": {
						"type": "string"
					},
					"CoverURL": {
						"type": "string"
					},
					"Tags": {
						"type": "string"
					},
					"MediaWorkflowId": {
						"type": "string"
					},
					"MediaWorkflowUserData": {
						"type": "string"
					},
					"CateId": {
						"type": "integer"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"createMediaStorage": {  
			"name": "CreateMediaStorage",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "CreateMediaStorage"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Bucket": {
						"required": true,
						"type": "string"
					},
					"Type": {
						"required": true,
						"type": "string"
					},
					"Sync": {
						"required": true,
						"type": "boolean"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"listAllMediaStorage": {  
			"name": "ListAllMediaStorage",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "ListAllMediaStorage"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"updateMediaStorage": {  
			"name": "UpdateMediaStorage",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "UpdateMediaStorage"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Bucket": {
						"required": true,
						"type": "string"
					},
					"Sync": {
						"required": true,
						"type": "boolean"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"bindInputBucket": {  
			"name": "BindInputBucket",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "BindInputBucket"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Bucket": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"bindOutputBucket": {  
			"name": "BindOutputBucket",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "BindOutputBucket"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Bucket": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"updateInputBucketSyncState": {  
			"name": "UpdateInputBucketSyncState",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "UpdateInputBucketSyncState"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Bucket": {
						"required": true,
						"type": "string"
					},
					"Sync": {
						"required": true,
						"type": "boolean"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"deleteMediaList": {  
			"name": "DeleteMediaList",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "DeleteMediaList"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"MediaIds": {
						"required": true,
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"playInfo": {  
			"name": "PlayInfo",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "PlayInfo"
					},
					"OwnerId": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "string"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					},
					"MediaId": {
						"required": true,
						"type": "string"
					},
					"Formats": {
						"required": true,
						"type": "string"
					},
					"AuthInfo": {
						"required": true,
						"type": "string"
					},
					"AuthTimeout": {
						"type": "integer"
					},
					"Rand": {
						"type": "string"
					},
					"PlayDomain": {
						"type": "string"
					}
				}
			}
		},
		"decryptKey": {  
			"name": "DecryptKey",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "DecryptKey"
					},
					"OwnerId": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "string"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					},
					"CiphertextBlob": {
						"required": true,
						"type": "string"
					},
					"Rand": {
						"required": true,
						"type": "string"
					}
				}
			}
		},
		"queryServiceUsage": {  
			"name": "QueryServiceUsage",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryServiceUsage"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"Type": {
						"type": "string"
					},
					"Codec": {
						"type": "string"
					},
					"Definition": {
						"type": "string"
					},
					"QueryRegion": {
						"type": "string"
					},
					"StartOfDayRange": {
						"type": "string"
					},
					"EndOfDayRange": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"addAuthConfig": {  
			"name": "AddAuthConfig",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "AddAuthConfig"
					},
					"OwnerId": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "string"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					},
					"Key1": {
						"type": "string"
					},
					"Key2": {
						"type": "string"
					}
				}
			}
		},
		"refreshCdnDomainConfigsCache": {  
			"name": "RefreshCdnDomainConfigsCache",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "RefreshCdnDomainConfigsCache"
					},
					"OwnerId": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "string"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					},
					"Domains": {
						"required": true,
						"type": "string"
					}
				}
			}
		},
		"queryAuthConfig": {  
			"name": "QueryAuthConfig",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "QueryAuthConfig"
					},
					"OwnerId": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "string"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		},
		"updateAuthConfig": {  
			"name": "UpdateAuthConfig",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "UpdateAuthConfig"
					},
					"OwnerId": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "string"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					},
					"Key1": {
						"required": true,
						"type": "string"
					},
					"Key2": {
						"required": true,
						"type": "string"
					}
				}
			}
		},
		"setAuthConfig": {  
			"name": "SetAuthConfig",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "SetAuthConfig"
					},
					"OwnerId": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "string"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					},
					"Key1": {
						"type": "string"
					},
					"Key2": {
						"type": "string"
					}
				}
			}
		},
		"listMedia": {  
			"name": "ListMedia",
			"http": {
				"method": "POST",
				"uri":"/"
			},
			"input": {
				"type": "structure",
				"members": {
					"Action": {
						"required": true,
						"default": "ListMedia"
					},
					"OwnerId": {
						"type": "integer"
					},
					"ResourceOwnerAccount": {
						"type": "string"
					},
					"ResourceOwnerId": {
						"type": "integer"
					},
					"NextPageToken": {
						"type": "string"
					},
					"MaximumPageSize": {
						"type": "integer"
					},
					"From": {
						"type": "string"
					},
					"To": {
						"type": "string"
					},
					"OwnerAccount": {
						"type": "string"
					}
				}
			}
		}
  }
}