{
  "format": "rest-json",
  "apiVersion": "0.6.0",
  "checksumFormat": "md5",
  "endpointPrefix": "sls",
  "serviceAbbreviation": "SLS",
  "serviceFullName": "Aliyun Simple Log Service",
  "signatureVersion": "sls",
  "timestampFormat": "rfc822",
  "xmlnamespace": "",
  "operations": {
    "putLogs": {
      "name": "PutLogs",
      "http": {
        "method": "POST",
        "uri": "/logstores/{logStoreName}/shards/lb"
      },
      "input": {
        "payload": "logGroup",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },
          "logGroup": {
            "required":true,
            "type": "structure",
            "members": {
              "logs": {
                "required":true,
                "type": "list",
                "members": {

                  "type":"structure",
                  "members": {
                    "time": {
                      "type": "integer",
                      "required": true
                    },
                    "contents": {
                      "type": "list",
                      "required": true,
                      "members": {
                        "type":"structure",
                        "members": {
                          "key": {
                            "type": "string",
                            "required": true
                          },
                          "value": {
                            "type": "string",
                            "required": true
                          }
                        }
                      }
                    }
                  }

                }
              },
              "topic": {
                "type": "string",
                "required": false
              },
              "source": {
                "type": "string",
                "required": false
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "createLogstore": {
      "name": "CreateLogstore",
      "http": {
        "method": "POST",
        "uri": "/logstores"
      },
      "input": {
        "payload": "logstoreDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreDetail":{
            "required":true,
            "type": "structure",
            "members": {
                "logstoreName":{
                    "type":"string",
                    "required":true
                },
                "ttl":{
                    "type": "integer",
                    "required": true
                },
                "shardCount":{
                    "type": "integer",
                    "required": true
                }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "updateLogstore": {
      "name":"UpdateLogstore",
      "http": {
        "method": "PUT",
        "uri": "/logstores/{logstoreName}"
      },
      "input": {
        "payload": "logstoreDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "logstoreDetail":{
            "required":true,
            "type": "structure",
            "members": {
                "logstoreName":{
                    "type":"string",
                    "required":true
                },
                "ttl":{
                    "type": "integer",
                    "required": true
                },
                "shardCount":{
                    "type": "integer",
                    "required": true
                }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "deleteLogstore": {
      "name": "DeleteLogstore",
      "http": {
        "method": "DELETE",
        "uri": "/logstores/{LogStoreName}"
      },
      "input": {
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "LogStoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getLogstore": {
      "name": "GetLogstore",
      "http": {
        "method": "GET",
        "uri": "/logstores/{LogStoreName}"
      },
      "input": {
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "LogStoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listLogStores": {
      "name": "ListLogStores",
      "http": {
        "method": "GET",
        "uri": "/logstores"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "count": {
            "type": "integer"
          },
          "logstores": {
            "type": "list",
            "members": {
            }
          },
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listTopics": {
      "name": "ListTopics",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logStoreName}?type=topic&line={line}&token={token}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },

          "token": {
            "required": false,
            "location": "uri",
            "type": "string"
          },
          "line": {
            "required": false,
            "location": "uri",
            "type": "integer"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listShards": {
      "name": "ListShards",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logStoreName}/shards"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          }
        }
      }
    },
    "splitShard": {
      "name": "SplitShard",
      "http": {
        "method": "POST",
        "uri": "/logstores/{logStoreName}/shards/{ShardId}?action=split&key={HashKey}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },
          "ShardId": {
            "required": true,
            "type":"integer",
            "location": "uri"
          },
          "HashKey": {
            "required": true,
            "location": "uri"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "mergeShards": {
      "name": "MergeShard",
      "http": {
        "method": "POST",
        "uri": "/logstores/{logStoreName}/shards/{ShardId}?action=merge"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },
          "ShardId": {
            "required": true,
            "type":"integer",
            "location": "uri"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getCursor": {
      "name": "GetCursor",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logStoreName}/shards/{ShardId}?type=cursor&from={FromTime}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },
          "ShardId": {
            "required": true,
            "type":"integer",
            "location": "uri"
          },
          "FromTime": {
            "required": true,
            "type":"integer",
            "location": "uri"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "batchGetLogs": {
      "name": "BatchGetLogs",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logStoreName}/shards/{ShardId}?type=log&cursor={cursor}&count={count}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },
          "ShardId": {
            "required": true,
            "type":"integer",
            "location": "uri"
          },
          "cursor": {
            "required": true,
            "location": "uri"
          },
          "count": {
            "required": true,
            "type":"integer",
            "location": "uri"
          }
        }
      },
      "output":{
        "type": "binary",
        "payload": "logGroupListBuf",
        "members": {
            "logGroupListBuf":{
                "streaming":true
            }
        }
      }
    },
    "createIndex": {
      "name": "CreateIndex",
      "http": {
        "method": "POST",
        "uri": "/logstores/{logstoreName}/index"
      },
      "input": {
        "payload": "indexDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "indexDetail":{
            "required":true,
            "type": "structure",
            "members": {
                "ttl":{
                    "type":"integer",
                    "required":true
                },
                "line":{
                    "type":"structure",
                    "members":{
                        "token":{
                            "type":"list"
                        },
                        "include_keys":{
                            "type":"list"
                        },
                        "exclude_keys":{
                            "type":"list"
                        },
                        "caseSensitive":{
                            "type":"boolean"
                        }
                    }
                },
                "key":{
                    "type": "structure"
                }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "updateIndex": {
      "name": "UpdateIndex",
      "http": {
        "method": "PUT",
        "uri": "/logstores/{logstoreName}/index"
      },
      "input": {
        "payload": "indexDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "indexDetail":{
            "required":true,
            "type": "structure",
            "members": {
                "ttl":{
                    "type":"integer",
                    "required":true
                },
                "line":{
                    "type":"structure",
                    "members":{
                        "token":{
                            "type":"list"
                        },
                        "include_keys":{
                            "type":"list"
                        },
                        "exclude_keys":{
                            "type":"list"
                        },
                        "caseSensitive":{
                            "type":"boolean"
                        }
                    }
                },
                "key":{
                    "type": "structure"
                }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "deleteIndex": {
      "name": "DeleteIndex",
      "http": {
        "method": "DELETE",
        "uri": "/logstores/{logstoreName}/index"
      },
      "input": {
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getIndex": {
      "name": "GetIndex",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logstoreName}/index"
      },
      "input": {
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getHistograms": {
      "name": "GetHistograms",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logStoreName}?type=histogram&from={from}&to={to}&topic={topic}&query={query}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },

          "topic": {
            "required": false,
            "location": "uri",
            "type": "string"
          },
          "from": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "to": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "query": {
            "required": false,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getLogs": {
      "name": "GetLogs",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logStoreName}?type=log&from={from}&to={to}&topic={topic}&query={query}&line={line}&offset={offset}&reverse={reverse}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },

          "topic": {
            "required": false,
            "location": "uri",
            "type": "string"
          },
          "from": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "to": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "query": {
            "required": false,
            "location": "uri",
            "type": "string"
          },

          "line": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },

          "offset": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "reverse":{
            "required": false,
            "location": "uri",
            "type": "boolean"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listConfig": {
      "name": "ListConfig",
      "http": {
        "method": "GET",
        "uri": "/configs?offset={offset}&size={size}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "offset": {
            "required": false,
            "type": "integer",
            "location": "uri"
          },
          "size": {
            "required": false,
            "type": "integer",
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "createConfig": {
      "name": "CreateConfig",
      "http": {
        "method": "POST",
        "uri": "/configs"
      },
      "input": {
        "ContentMD5": true,
        "payload": "configDetail",
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "configDetail": {
            "type": "structure",
            "required": true,
            "members": {
              "configName": {
                "required": true
              },
              "inputType": {
                "required": true
              },
              "inputDetail": {
                "required": true,
                "type": "structure",
                "members": {
                  "logType": {
                    "required": true,
                    "type": "string"
                  },
                  "logPath": {
                    "required": true,
                    "type": "string"
                  },
                  "filePattern": {
                    "required": true,
                    "type": "string"
                  },
                  "localStorage": {
                    "required": true,
                    "type": "boolean"
                  },
                  "timeFormat": {
                    "required": true,
                    "type": "string"
                  },
                  "logBeginRegex": {
                    "required": true,
                    "type": "string"
                  },
                  "regex": {
                    "required": true,
                    "type": "string"
                  },
                  "key": {
                    "required": true,
                    "type": "list"
                  },
                  "filterKey": {
                    "required": true,
                    "type": "list"
                  },
                  "filterRegex": {
                    "required": true,
                    "type": "list"
                  },
                  "topicFormat": {
                    "required": false,
                    "type": "string"
                  },
                  "preserve": {
                    "required": false,
                    "type": "boolean"
                  },
                  "preserveDepth": {
                    "required": false,
                    "type": "integer"
                  },
                  "fileEncoding": {
                    "required": false,
                    "type": "string"
                  }
                }
              },
              "outputType": {
                "required": true
              },
              "outputDetail": {
                "required": true,
                "type": "structure",
                "members": {
                  "logstoreName": {
                    "required": true
                  }
                }
              },
              "logSample": {
                "required": false,
                "type": "string"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getAppliedMachineGroups": {
      "name": "GetAppliedMachineGroups",
      "http": {
        "method": "GET",
        "uri": "/configs/{configName}/machinegroups"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "configName": {
            "required": true,
            "type": "string",
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getConfig": {
      "name": "GetConfig",
      "http": {
        "method": "GET",
        "uri": "/configs/{configName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "configName": {
            "required": true,
            "type": "string",
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "deleteConfig": {
      "name": "DeleteConfig",
      "http": {
        "method": "DELETE",
        "uri": "/configs/{configName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "configName": {
            "required": true,
            "type": "string",
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "updateConfig": {
      "name": "UpdateConfig",
      "http": {
        "method": "PUT",
        "uri": "/configs/{configName}"
      },
      "input": {
        "payload": "configDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "configName": {
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "configDetail": {
            "type": "structure",
            "required": true,
            "members": {
              "configName": {
                "required": true
              },
              "inputType": {
                "required": true
              },
              "inputDetail": {
                "required": true,
                "type": "structure",
                "members": {
                  "logType": {
                    "required": true,
                    "type": "string"
                  },
                  "logPath": {
                    "required": true,
                    "type": "string"
                  },
                  "filePattern": {
                    "required": true,
                    "type": "string"
                  },
                  "localStorage": {
                    "required": true,
                    "type": "boolean"
                  },
                  "timeFormat": {
                    "required": true,
                    "type": "string"
                  },
                  "logBeginRegex": {
                    "required": true,
                    "type": "string"
                  },
                  "regex": {
                    "required": true,
                    "type": "string"
                  },
                  "key": {
                    "required": true,
                    "type": "list"
                  },
                  "filterKey": {
                    "required": true,
                    "type": "list"
                  },
                  "filterRegex": {
                    "required": true,
                    "type": "list"
                  },
                  "topicFormat": {
                    "required": false,
                    "type": "string"
                  },
                  "preserve": {
                    "required": false,
                    "type": "boolean"
                  },
                  "preserveDepth": {
                    "required": false,
                    "type": "integer"
                  },
                  "fileEncoding": {
                    "required": false,
                    "type": "string"
                  }
                }
              },
              "outputType": {
                "required": true
              },
              "outputDetail": {
                "required": true,
                "type": "structure",
                "members": {
                  "logstoreName": {
                    "required": true
                  }
                }
              },
              "logSample": {
                "required": false,
                "type": "string"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "createMachineGroup": {
      "name": "CreateMachineGroup",
      "http": {
        "method": "POST",
        "uri": "/machinegroups"
      },
      "input": {
        "type": "structure",
        "ContentMD5": true,
        "payload": "machineGroupDetail",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "machineGroupDetail": {
            "type": "structure",
            "required": true,
            "members": {
              "groupName": {
                "type": "string",
                "required": true
              },
              "groupType": {
                "type": "string",
                "required": false
              },
              "machineIdentifyType": {
                "type": "string",
                "required": true
              },
              "groupAttribute": {
                "required": true,
                "type": "structure",
                "members": {
                  "groupTopic": {
                    "type": "string",
                    "required": false
                  },
                  "externalName": {
                    "type": "string",
                    "required": false
                  }
                }
              },
              "machineList": {
                "required": true,
                "type": "list"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "deleteMachineGroup": {
      "name": "DeleteMachineGroup",
      "http": {
        "method": "DELETE",
        "uri": "/machinegroups/{groupName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "groupName": {
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "updateMachineGroup": {
      "name": "UpdateMachineGroup",
      "http": {
        "method": "PUT",
        "uri": "/machinegroups/{groupName}"
      },
      "input": {
        "type": "structure",
        "ContentMD5": true,
        "payload": "machineGroupDetail",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "groupName": {
            "required": true,
            "type": "string",
            "location": "uri"
          },
          "machineGroupDetail": {
            "type": "structure",
            "required": true,
            "members": {
              "groupName": {
                "type": "string",
                "required": true
              },
              "groupType": {
                "type": "string",
                "required": false
              },
              "machineIdentifyType": {
                "type": "string",
                "required": true
              },
              "groupAttribute": {
                "required": true,
                "type": "structure",
                "members": {
                  "groupTopic": {
                    "type": "string",
                    "required": false
                  },
                  "externalName": {
                    "type": "string",
                    "required": false
                  }
                }
              },
              "machineList": {
                "required": true,
                "type": "list"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listMachineGroup": {
      "name": "ListMachineGroup",
      "http": {
        "method": "GET",
        "uri": "/machinegroups?offset={offset}&size={size}&groupName={groupName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "offset": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "size": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "groupName": {
            "required": false,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getMachineGroup": {
      "name": "GetMachineGroup",
      "http": {
        "method": "GET",
        "uri": "/machinegroups/{groupName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "groupName": {
            "required": true,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "applyConfigToMachineGroup": {
      "name": "ApplyConfigToMachineGroup",
      "http": {
        "method": "PUT",
        "uri": "/machinegroups/{groupName}/configs/{configName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "groupName": {
            "required": true,
            "location": "uri",
            "type": "string"
          },
          "configName": {
            "required": true,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "removeConfigFromMachineGroup": {
      "name": "RemoveConfigFromMachineGroup",
      "http": {
        "method": "DELETE",
        "uri": "/machinegroups/{groupName}/configs/{configName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "groupName": {
            "required": true,
            "location": "uri",
            "type": "string"
          },
          "configName": {
            "required": true,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listMachines": {
      "name": "ListMachines",
      "http": {
        "method": "GET",
        "uri": "/machinegroups/{groupName}/machines?offset={offset}&size={size}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "offset": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "size": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "groupName": {
            "required": true,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getAppliedConfigs": {
      "name": "GetAppliedConfigs",
      "http": {
        "method": "GET",
        "uri": "/machinegroups/{groupName}/configs"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "groupName": {
            "required": true,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getShipperStatus": {
      "name": "GetShipperStatus",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logstoreName}/shipper/{shipperName}/tasks?from={from}&to={to}&status={status}&offset={offset}&size={size}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName": {
            "required": true,
            "type": "string",
            "location": "uri"
          },
          "shipperName": {
            "required": true,
            "type": "string",
            "location": "uri"
          },
          "from": {
            "required": true,
            "type": "integer",
            "location": "uri"
          },
          "to": {
            "required": true,
            "type": "integer",
            "location": "uri"
          },
          "status": {
            "required": false,
            "type": "string",
            "location": "uri"
          },
          "offset": {
            "required": false,
            "type": "integer",
            "location": "uri"
          },
          "size": {
            "required": false,
            "type": "integer",
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "retryShipperTask": {
      "name": "RetryShipperTask",
      "http": {
        "method": "PUT",
        "uri": "/logstores/{logstoreName}/shipper/{shipperName}/tasks"
      },
      "input": {
        "payload": "tasks",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName": {
            "required": true,
            "type": "string",
            "location": "uri"
          },
          "shipperName": {
            "required": true,
            "type": "string",
            "location": "uri"
          },
          "tasks": {
            "required": true,
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    }
  },
  "pagination": {

  }
}
