{
  "format": "rest-json",
  "apiVersion": "0.6.0",
  "checksumFormat": "md5",
  "endpointPrefix": "sls",
  "serviceAbbreviation": "SLS",
  "serviceFullName": "Aliyun Simple Log Service",
  "signatureVersion": "sls",
  "timestampFormat": "rfc822",
  "xmlnamespace": "",
  "operations": {
    "createProject": {
      "name": "CreateProject",
      "http": {
        "method": "POST",
        "uri": "/"
      },
      "input": {
        "payload": "projectDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectDetail":{
            "required":true,
            "type": "structure",
            "members": {
              "projectName":{
                  "type":"string",
                  "required":true
              },
              "description":{
                  "type": "string",
                  "required": true
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getProject": {
      "name": "GetProject",
      "http": {
        "method": "GET" ,
        "uri": "/"
      },
      "input": {
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listProject": {
      "name": "ListProject",
      "http": {
        "method": "GET",
        "uri": "/?offset={offset}&size={size}&projectName={projectName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName": {
            "type": "string",
            "required": false,
            "location": "uri"
          },
          "offset": {
            "required": false,
            "type": "integer",
            "location": "uri"
          },
          "size": {
            "required": false,
            "type": "integer",
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "putLogs": {
      "name": "PutLogs",
      "http": {
        "method": "POST",
        "uri": "/logstores/{logStoreName}/shards/lb"
      },
      "input": {
        "payload": "logGroup",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },
          "logGroup": {
            "required":true,
            "type": "structure",
            "members": {
              "logs": {
                "required":true,
                "type": "list",
                "members": {

                  "type":"structure",
                  "members": {
                    "time": {
                      "type": "integer",
                      "required": true
                    },
                    "contents": {
                      "type": "list",
                      "required": true,
                      "members": {
                        "type":"structure",
                        "members": {
                          "key": {
                            "type": "string",
                            "required": true
                          },
                          "value": {
                            "type": "string",
                            "required": true
                          }
                        }
                      }
                    }
                  }

                }
              },
              "topic": {
                "type": "string",
                "required": false
              },
              "source": {
                "type": "string",
                "required": false
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "createLogstore": {
      "name": "CreateLogstore",
      "http": {
        "method": "POST",
        "uri": "/logstores"
      },
      "input": {
        "payload": "logstoreDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreDetail":{
            "required":true,
            "type": "structure",
            "members": {
                "logstoreName":{
                    "type":"string",
                    "required":true
                },
                "ttl":{
                    "type": "integer",
                    "required": true
                },
                "shardCount":{
                    "type": "integer",
                    "required": true
                }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "updateLogstore": {
      "name":"UpdateLogstore",
      "http": {
        "method": "PUT",
        "uri": "/logstores/{logstoreName}"
      },
      "input": {
        "payload": "logstoreDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "logstoreDetail":{
            "required":true,
            "type": "structure",
            "members": {
                "logstoreName":{
                    "type":"string",
                    "required":true
                },
                "ttl":{
                    "type": "integer",
                    "required": true
                },
                "shardCount":{
                    "type": "integer",
                    "required": true
                }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "deleteLogstore": {
      "name": "DeleteLogstore",
      "http": {
        "method": "DELETE",
        "uri": "/logstores/{LogStoreName}"
      },
      "input": {
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "LogStoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getLogstore": {
      "name": "GetLogstore",
      "http": {
        "method": "GET",
        "uri": "/logstores/{LogStoreName}"
      },
      "input": {
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "LogStoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listLogStores": {
      "name": "ListLogStores",
      "http": {
        "method": "GET",
        "uri": "/logstores"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "count": {
            "type": "integer"
          },
          "logstores": {
            "type": "list",
            "members": {
            }
          },
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listTopics": {
      "name": "ListTopics",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logStoreName}?type=topic&line={line}&token={token}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },

          "token": {
            "required": false,
            "location": "uri",
            "type": "string"
          },
          "line": {
            "required": false,
            "location": "uri",
            "type": "integer"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listShards": {
      "name": "ListShards",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logStoreName}/shards"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          }
        }
      }
    },
    "splitShard": {
      "name": "SplitShard",
      "http": {
        "method": "POST",
        "uri": "/logstores/{logStoreName}/shards/{ShardId}?action=split&key={HashKey}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },
          "ShardId": {
            "required": true,
            "type":"integer",
            "location": "uri"
          },
          "HashKey": {
            "required": true,
            "location": "uri"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "mergeShards": {
      "name": "MergeShard",
      "http": {
        "method": "POST",
        "uri": "/logstores/{logStoreName}/shards/{ShardId}?action=merge"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },
          "ShardId": {
            "required": true,
            "type":"integer",
            "location": "uri"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getCursor": {
      "name": "GetCursor",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logStoreName}/shards/{ShardId}?type=cursor&from={FromTime}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },
          "ShardId": {
            "required": true,
            "type":"integer",
            "location": "uri"
          },
          "FromTime": {
            "required": true,
            "type":"integer",
            "location": "uri"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "batchGetLogs": {
      "name": "BatchGetLogs",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logStoreName}/shards/{ShardId}?type=log&cursor={cursor}&count={count}&end_cursor={end_cursor}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },
          "ShardId": {
            "required": true,
            "type":"integer",
            "location": "uri"
          },
          "cursor": {
            "required": true,
            "location": "uri"
          },
          "end_cursor": {
            "required": false,
            "location": "uri"
          },
          "count": {
            "required": true,
            "type":"integer",
            "location": "uri"
          }
        }
      },
      "output":{
        "type": "binary",
        "payload": "logGroupListBuf",
        "members": {
            "logGroupListBuf":{
                "streaming":true
            }
        }
      }
    },
    "createIndex": {
      "name": "CreateIndex",
      "http": {
        "method": "POST",
        "uri": "/logstores/{logstoreName}/index"
      },
      "input": {
        "payload": "indexDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "indexDetail":{
            "required":true,
            "type": "structure",
            "members": {
                "line":{
                    "type":"structure",
                    "members":{
                        "token":{
                            "type":"list"
                        },
                        "include_keys":{
                            "type":"list"
                        },
                        "exclude_keys":{
                            "type":"list"
                        },
                        "caseSensitive":{
                            "type":"boolean"
                        },
                        "chn":{
                            "type":"boolean"
                        }
                    }
                },
                "keys":{
                    "type": "any"
                }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "updateIndex": {
      "name": "UpdateIndex",
      "http": {
        "method": "PUT",
        "uri": "/logstores/{logstoreName}/index"
      },
      "input": {
        "payload": "indexDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "indexDetail":{
            "required":true,
            "type": "structure",
            "members": {
                "ttl":{
                    "type":"integer",
                    "required":true
                },
                "line":{
                    "type":"structure",
                    "members":{
                        "token":{
                            "type":"list"
                        },
                        "include_keys":{
                            "type":"list"
                        },
                        "exclude_keys":{
                            "type":"list"
                        },
                        "caseSensitive":{
                            "type":"boolean"
                        },
                        "chn":{
                            "type":"boolean"
                        }
                    }
                },
                "key":{
                    "type": "structure"
                }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "deleteIndex": {
      "name": "DeleteIndex",
      "http": {
        "method": "DELETE",
        "uri": "/logstores/{logstoreName}/index"
      },
      "input": {
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getIndex": {
      "name": "GetIndex",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logstoreName}/index"
      },
      "input": {
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName":{
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getHistograms": {
      "name": "GetHistograms",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logStoreName}?type=histogram&from={from}&to={to}&topic={topic}&query={query}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },

          "topic": {
            "required": false,
            "location": "uri",
            "type": "string"
          },
          "from": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "to": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "query": {
            "required": false,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getLogs": {
      "name": "GetLogs",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logStoreName}?type=log&from={from}&to={to}&topic={topic}&query={query}&line={line}&offset={offset}&reverse={reverse}&powerSql={powerSql}&forward={forward}&session={session}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },

          "topic": {
            "required": false,
            "location": "uri",
            "type": "string"
          },
          "from": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "to": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "query": {
            "required": false,
            "location": "uri",
            "type": "string"
          },

          "line": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },

          "offset": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "reverse":{
            "required": false,
            "location": "uri",
            "type": "boolean"
          },
          "powerSql":{
            "required": false,
            "location": "uri",
            "type": "boolean"
          },
          "forward": {
            "required": false,
            "location": "uri",
            "type": "boolean"
          },
          "session": {
            "required": false,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "executeLogStoreSql": {
      "name": "executeLogStoreSql",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logStoreName}?type=log&from={from}&to={to}&topic={topic}&query={query}&line={line}&offset={offset}&reverse={reverse}&powerSql={powerSql}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logStoreName": {
            "required": true,
            "location": "uri"
          },
          "from": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "to": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "query": {
            "required": false,
            "location": "uri",
            "type": "string"
          },
          "powerSql":{
            "required": false,
            "location": "uri",
            "type": "boolean"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "executeProjectSql": {
      "name": "executeProjectSql",
      "http": {
        "method": "GET",
        "uri": "/logs?query={query}&powerSql={powerSql}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "query": {
            "required": false,
            "location": "uri",
            "type": "string"
          },
          "powerSql":{
            "required": false,
            "location": "uri",
            "type": "boolean"
          }
        }
      },
      "output":{
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "updateSqlInstance": {
      "name": "UpdateSqlInstance",
      "http": {
        "method": "PUT",
        "uri": "/sqlinstance"
      },
      "input": {
        "payload": "sqlinstanceDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "sqlinstanceDetail":{
            "required":true,
            "type": "structure",
            "members": {
                "cu":{
                    "type": "integer",
                    "required": true
                }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },

    "createSqlInstance": {
      "name": "CreateSqlInstance",
      "http": {
        "method": "POST",
        "uri": "/sqlinstance"
      },
      "input": {
        "payload": "sqlinstanceDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "sqlinstanceDetail":{
            "required":true,
            "type": "structure",
            "members": {
                "cu":{
                    "type": "integer",
                    "required": true
                }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getSqlInstance": {
      "name": "GetSqlInstance",
      "http": {
        "method": "GET",
        "uri": "/sqlinstance"
      },
      "input": {
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          }
        }
      },
      "output": {
        "type": "list",
        "members": {
          "type":"structure",
          "members":{
              "name":{
                  "type":"string"
              },
              "cu":{
                  "type":"integer"
              }
              
          }
        }
      }
    },
    "listConfig": {
      "name": "ListConfig",
      "http": {
        "method": "GET",
        "uri": "/configs?offset={offset}&size={size}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "offset": {
            "required": false,
            "type": "integer",
            "location": "uri"
          },
          "size": {
            "required": false,
            "type": "integer",
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "createConfig": {
      "name": "CreateConfig",
      "http": {
        "method": "POST",
        "uri": "/configs"
      },
      "input": {
        "ContentMD5": true,
        "payload": "configDetail",
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "configDetail": {
            "type": "structure",
            "required": true,
            "members": {
              "configName": {
                "required": true
              },
              "inputType": {
                "required": true
              },
              "inputDetail": {
                "required": true,
                "type": "structure",
                "members": {
                  "timeKey": {
                    "required": false,
                    "type": "string"
                  },
                  "logType": {
                    "required": true,
                    "type": "string"
                  },
                  "logPath": {
                    "required": true,
                    "type": "string"
                  },
                  "filePattern": {
                    "required": true,
                    "type": "string"
                  },
                  "localStorage": {
                    "required": true,
                    "type": "boolean"
                  },
                  "timeFormat": {
                    "required": true,
                    "type": "string"
                  },
                  "logBeginRegex": {
                    "required": false,
                    "type": "string"
                  },
                  "regex": {
                    "required": false,
                    "type": "string"
                  },
                  "key": {
                    "required": false,
                    "type": "list"
                  },
                  "filterKey": {
                    "required": false,
                    "type": "list"
                  },
                  "filterRegex": {
                    "required": false,
                    "type": "list"
                  },
                  "topicFormat": {
                    "required": false,
                    "type": "string"
                  },
                  "preserve": {
                    "required": false,
                    "type": "boolean"
                  },
                  "preserveDepth": {
                    "required": false,
                    "type": "integer"
                  },
                  "fileEncoding": {
                    "required": false,
                    "type": "string"
                  }
                }
              },
              "outputType": {
                "required": false
              },
              "outputDetail": {
                "required": true,
                "type": "structure",
                "members": {
                  "logstoreName": {
                    "required": true
                  }
                }
              },
              "logSample": {
                "required": false,
                "type": "string"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getAppliedMachineGroups": {
      "name": "GetAppliedMachineGroups",
      "http": {
        "method": "GET",
        "uri": "/configs/{configName}/machinegroups"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "configName": {
            "required": true,
            "type": "string",
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getConfig": {
      "name": "GetConfig",
      "http": {
        "method": "GET",
        "uri": "/configs/{configName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "configName": {
            "required": true,
            "type": "string",
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "deleteConfig": {
      "name": "DeleteConfig",
      "http": {
        "method": "DELETE",
        "uri": "/configs/{configName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "configName": {
            "required": true,
            "type": "string",
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "updateConfig": {
      "name": "UpdateConfig",
      "http": {
        "method": "PUT",
        "uri": "/configs/{configName}"
      },
      "input": {
        "payload": "configDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "configName": {
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "configDetail": {
            "type": "structure",
            "required": true,
            "members": {
              "configName": {
                "required": true
              },
              "inputType": {
                "required": true
              },
              "inputDetail": {
                "required": true,
                "type": "structure",
                "members": {
                  "logType": {
                    "required": true,
                    "type": "string"
                  },
                  "logPath": {
                    "required": true,
                    "type": "string"
                  },
                  "filePattern": {
                    "required": true,
                    "type": "string"
                  },
                  "localStorage": {
                    "required": true,
                    "type": "boolean"
                  },
                  "timeFormat": {
                    "required": true,
                    "type": "string"
                  },
                  "logBeginRegex": {
                    "required": true,
                    "type": "string"
                  },
                  "regex": {
                    "required": true,
                    "type": "string"
                  },
                  "key": {
                    "required": true,
                    "type": "list"
                  },
                  "filterKey": {
                    "required": true,
                    "type": "list"
                  },
                  "filterRegex": {
                    "required": true,
                    "type": "list"
                  },
                  "topicFormat": {
                    "required": false,
                    "type": "string"
                  },
                  "preserve": {
                    "required": false,
                    "type": "boolean"
                  },
                  "preserveDepth": {
                    "required": false,
                    "type": "integer"
                  },
                  "fileEncoding": {
                    "required": false,
                    "type": "string"
                  }
                }
              },
              "outputType": {
                "required": true
              },
              "outputDetail": {
                "required": true,
                "type": "structure",
                "members": {
                  "logstoreName": {
                    "required": true
                  }
                }
              },
              "logSample": {
                "required": false,
                "type": "string"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "createMachineGroup": {
      "name": "CreateMachineGroup",
      "http": {
        "method": "POST",
        "uri": "/machinegroups"
      },
      "input": {
        "type": "structure",
        "ContentMD5": true,
        "payload": "machineGroupDetail",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "machineGroupDetail": {
            "type": "structure",
            "required": true,
            "members": {
              "groupName": {
                "type": "string",
                "required": true
              },
              "groupType": {
                "type": "string",
                "required": false
              },
              "machineIdentifyType": {
                "type": "string",
                "required": false
              },
              "groupAttribute": {
                "required": true,
                "type": "structure",
                "members": {
                  "groupTopic": {
                    "type": "string",
                    "required": false
                  },
                  "externalName": {
                    "type": "string",
                    "required": false
                  }
                }
              },
              "machineList": {
                "required": false,
                "type": "list"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "deleteMachineGroup": {
      "name": "DeleteMachineGroup",
      "http": {
        "method": "DELETE",
        "uri": "/machinegroups/{groupName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "groupName": {
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "updateMachineGroup": {
      "name": "UpdateMachineGroup",
      "http": {
        "method": "PUT",
        "uri": "/machinegroups/{groupName}"
      },
      "input": {
        "type": "structure",
        "ContentMD5": true,
        "payload": "machineGroupDetail",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "groupName": {
            "required": true,
            "type": "string",
            "location": "uri"
          },
          "machineGroupDetail": {
            "type": "structure",
            "required": true,
            "members": {
              "groupName": {
                "type": "string",
                "required": true
              },
              "groupType": {
                "type": "string",
                "required": false
              },
              "machineIdentifyType": {
                "type": "string",
                "required": true
              },
              "groupAttribute": {
                "required": true,
                "type": "structure",
                "members": {
                  "groupTopic": {
                    "type": "string",
                    "required": false
                  },
                  "externalName": {
                    "type": "string",
                    "required": false
                  }
                }
              },
              "machineList": {
                "required": true,
                "type": "list"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listMachineGroup": {
      "name": "ListMachineGroup",
      "http": {
        "method": "GET",
        "uri": "/machinegroups?offset={offset}&size={size}&groupName={groupName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "offset": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "size": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "groupName": {
            "required": false,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getMachineGroup": {
      "name": "GetMachineGroup",
      "http": {
        "method": "GET",
        "uri": "/machinegroups/{groupName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "groupName": {
            "required": true,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "applyConfigToMachineGroup": {
      "name": "ApplyConfigToMachineGroup",
      "http": {
        "method": "PUT",
        "uri": "/machinegroups/{groupName}/configs/{configName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "groupName": {
            "required": true,
            "location": "uri",
            "type": "string"
          },
          "configName": {
            "required": true,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "removeConfigFromMachineGroup": {
      "name": "RemoveConfigFromMachineGroup",
      "http": {
        "method": "DELETE",
        "uri": "/machinegroups/{groupName}/configs/{configName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "groupName": {
            "required": true,
            "location": "uri",
            "type": "string"
          },
          "configName": {
            "required": true,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listMachines": {
      "name": "ListMachines",
      "http": {
        "method": "GET",
        "uri": "/machinegroups/{groupName}/machines?offset={offset}&size={size}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "offset": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "size": {
            "required": false,
            "location": "uri",
            "type": "integer"
          },
          "groupName": {
            "required": true,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getAppliedConfigs": {
      "name": "GetAppliedConfigs",
      "http": {
        "method": "GET",
        "uri": "/machinegroups/{groupName}/configs"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "groupName": {
            "required": true,
            "location": "uri",
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getShipperStatus": {
      "name": "GetShipperStatus",
      "http": {
        "method": "GET",
        "uri": "/logstores/{logstoreName}/shipper/{shipperName}/tasks?from={from}&to={to}&status={status}&offset={offset}&size={size}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName": {
            "required": true,
            "type": "string",
            "location": "uri"
          },
          "shipperName": {
            "required": true,
            "type": "string",
            "location": "uri"
          },
          "from": {
            "required": true,
            "type": "integer",
            "location": "uri"
          },
          "to": {
            "required": true,
            "type": "integer",
            "location": "uri"
          },
          "status": {
            "required": false,
            "type": "string",
            "location": "uri"
          },
          "offset": {
            "required": false,
            "type": "integer",
            "location": "uri"
          },
          "size": {
            "required": false,
            "type": "integer",
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "retryShipperTask": {
      "name": "RetryShipperTask",
      "http": {
        "method": "PUT",
        "uri": "/logstores/{logstoreName}/shipper/{shipperName}/tasks"
      },
      "input": {
        "payload": "tasks",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName":{
            "type": "string",
            "required": true,
            "location": "header"
          },
          "logstoreName": {
            "required": true,
            "type": "string",
            "location": "uri"
          },
          "shipperName": {
            "required": true,
            "type": "string",
            "location": "uri"
          },
          "tasks": {
            "required": true,
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listAlert": {
      "name": "ListAlert",
      "http": {
        "method": "GET",
        "uri": "/jobs?jobName={alertName}&offset={offset}&size={size}&jobType=Alert&resourceProvider={resourceProvider}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          },
          "alertName": {
            "type": "string",
            "location": "uri"
          },
          "offset": {
            "type": "string",
            "location": "uri"
          },
          "size": {
            "type": "string",
            "location": "uri"
          },
          "resourceProvider": {
            "type": "string",
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getAlert": {
      "name": "GetAlert",
      "http": {
        "method": "GET",
        "uri": "/jobs/{alertName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          },
          "alertName": {
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "createAlert": {
      "name": "CreateAlert",
      "http": {
        "method": "POST",
        "uri": "/jobs"
      },
      "input": {
        "payload": "alertDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          },
          "alertDetail": {
            "required": true,
            "type": "structure",
            "members": {
              "name": {
                "type": "string",
                "required": true
              },
              "displayName": {
                "type": "string",
                "required": true
              },
              "type": {
                "type": "string",
                "required": true
              },
              "state": {
                "type": "string"
              },
              "schedule": {
                "type": "structure",
                "required": true,
                "members": {
                  "interval": {
                    "type": "string",
                    "required": true
                  },
                  "type": {
                    "type": "string",
                    "required": true
                  }
                }
              },
              "configuration": {
                "type": "structure",
                "required": true,
                "members": {
                  "dashboard": {
                    "type": "string",
                    "required": true
                  },
                  "condition": {
                    "type": "string",
                    "required": true
                  },
                  "queryList": {
                    "type": "list",
                    "required": true,
                    "members": {
                      "type": "structure",
                      "members": {
                        "chartTitle": {
                          "type": "string",
                          "required": true
                        },
                        "query": {
                          "type": "string",
                          "required": true
                        },
                        "start": {
                          "type": "string",
                          "required": true
                        },
                        "end": {
                          "type": "string"
                        },
                        "timeSpanType": {
                          "type": "string",
                          "required": true
                        },
                        "logStore": {
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  },
                  "notificationList": {
                    "type": "list",
                    "required": true,
                    "members": {
                      "type": "structure",
                      "members": {
                        "type": {
                          "type": "string",
                          "required": true
                        },
                        "content": {
                          "type": "string"
                        },
                        "emailList": {
                          "type": "list",
                          "members": {
                            "type": "string"
                          }
                        },
                        "mobileList": {
                          "type": "list",
                          "members": {
                            "type": "string"
                          }
                        },
                        "serviceUri": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "updateAlert": {
      "name": "UpdateAlert",
      "http": {
        "method": "PUT",
        "uri": "/jobs/{alertName}"
      },
      "input": {
        "payload": "alertDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          },
          "alertName": {
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "alertDetail": {
            "required": true,
            "type": "structure",
            "members": {
              "name": {
                "type": "string",
                "required": true
              },
              "displayName": {
                "type": "string",
                "required": true
              },
              "type": {
                "type": "string",
                "required": true
              },
              "state": {
                "type": "string"
              },
              "schedule": {
                "type": "structure",
                "required": true,
                "members": {
                  "interval": {
                    "type": "string",
                    "required": true
                  },
                  "type": {
                    "type": "string",
                    "required": true
                  }
                }
              },
              "configuration": {
                "type": "structure",
                "required": true,
                "members": {
                  "dashboard": {
                    "type": "string",
                    "required": true
                  },
                  "condition": {
                    "type": "string",
                    "required": true
                  },
                  "queryList": {
                    "type": "list",
                    "required": true,
                    "members": {
                      "type": "structure",
                      "members": {
                        "chartTitle": {
                          "type": "string",
                          "required": true
                        },
                        "query": {
                          "type": "string",
                          "required": true
                        },
                        "start": {
                          "type": "string",
                          "required": true
                        },
                        "end": {
                          "type": "string"
                        },
                        "timeSpanType": {
                          "type": "string",
                          "required": true
                        },
                        "logStore": {
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  },
                  "notificationList": {
                    "type": "list",
                    "required": true,
                    "members": {
                      "type": "structure",
                      "members": {
                        "type": {
                          "type": "string",
                          "required": true
                        },
                        "content": {
                          "type": "string"
                        },
                        "emailList": {
                          "type": "list",
                          "members": {
                            "type": "string"
                          }
                        },
                        "mobileList": {
                          "type": "list",
                          "members": {
                            "type": "string"
                          }
                        },
                        "serviceUri": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "deleteAlert": {
      "name": "DeleteAlert",
      "http": {
        "method": "DELETE",
        "uri": "/jobs/{alertName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          },
          "alertName": {
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "disableAlert": {
      "name": "DisableAlert",
      "http": {
        "method": "PUT",
        "uri": "/jobs/{alertName}?action=disable"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          },
          "alertName": {
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "enableAlert": {
      "name": "EnableAlert",
      "http": {
        "method": "PUT",
        "uri": "/jobs/{alertName}?action=enable"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          },
          "alertName": {
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "createAlertV2": {
      "name": "CreateAlert",
      "http": {
        "method": "POST",
        "uri": "/jobs"
      },
      "input": {
        "payload": "alertDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          },
          "alertDetail": {
            "required": true,
            "type": "structure",
            "members": {
              "name": {
                "type": "string",
                "required": true
              },
              "displayName": {
                "type": "string",
                "required": true
              },
              "type": {
                "type": "string",
                "required": true
              },
              "state": {
                "type": "string"
              },
              "schedule": {
                "type": "structure",
                "required": true,
                "members": {
                  "type": {
                    "type": "string",
                    "required": true
                  },
                  "interval": {
                    "type": "string"
                  },
                  "cronExpression": {
                    "type": "string"
                  },
                  "dayOfWeek": {
                    "type": "integer"
                  },
                  "hour": {
                    "type": "integer"
                  },
                  "runImmediately": {
                    "type": "boolean"
                  }
                }
              },
              "configuration": {
                "type": "structure",
                "required": true,
                "members": {
                  "version": {
                    "type": "string",
                    "required": true
                  },
                  "type": {
                    "type": "string",
                    "required": true
                  },
                  "dashboard": {
                    "type": "string"
                  },
                  "queryList": {
                    "type": "list",
                    "required": true,
                    "members": {
                      "type": "structure",
                      "members": {
                        "storeType": {
                          "type": "string",
                          "required": true
                        },
                        "region": {
                          "type": "string",
                          "required": true
                        },
                        "project": {
                          "type": "string",
                          "required": true
                        },
                        "store": {
                          "type": "string",
                          "required": true
                        },
                        "roleArn": {
                          "type": "string"
                        },
                        "query": {
                          "type": "string",
                          "required": true
                        },
                        "timeSpanType": {
                          "type": "string"
                        },
                        "start": {
                          "type": "string"
                        },
                        "end": {
                          "type": "string"
                        },
                        "powerSqlMode": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "groupConfiguration": {
                    "type": "structure",
                    "required": true,
                    "members": {
                      "type": {
                        "type": "string",
                        "required": true
                      },
                      "fields": {
                        "type": "list",
                        "members": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "joinConfigurations": {
                    "type": "list",
                    "members": {
                      "type": "structure",
                      "members": {
                        "type": {
                          "type": "string",
                          "required": true
                        },
                        "condition": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "severityConfigurations": {
                    "type": "list",
                    "required": true,
                    "members": {
                      "type": "structure",
                      "members": {
                        "severity": {
                          "type": "integer",
                          "required": true
                        },
                        "evalCondition": {
                          "type": "structure",
                          "members": {
                            "condition": {
                              "type": "string",
                              "required": true
                            },
                            "countCondition": {
                              "type": "string",
                              "required": true
                            }
                          }
                        }
                      }
                    }
                  },
                  "labels": {
                    "type": "list",
                    "members": {
                      "type": "structure",
                      "required": true,
                      "members": {
                        "key": {
                          "type": "string",
                          "required": true
                        },
                        "value": {
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  },
                  "annotations": {
                    "type": "list",
                    "members": {
                      "type": "structure",
                      "required": true,
                      "members": {
                        "key": {
                          "type": "string",
                          "required": true
                        },
                        "value": {
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  },
                  "autoAnnotation": {
                    "type": "boolean",
                    "required": true
                  },
                  "sendResolved": {
                    "type": "boolean"
                  },
                  "threshold": {
                    "type": "integer",
                    "required": true
                  },
                  "noDataFire": {
                    "type": "boolean"
                  },
                  "noDataSeverity": {
                    "type": "integer"
                  },
                  "policyConfiguration": {
                    "type": "structure",
                    "required": true,
                    "members": {
                      "alertPolicyId": {
                        "type": "string",
                        "required": true
                      },
                      "actionPolicyId": {
                        "type": "string",
                        "required": true
                      },
                      "repeatInterval": {
                        "type": "string",
                        "required": true
                      },
                      "useDefault": {
                        "type": "boolean",
                        "required": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "updateAlertV2": {
      "name": "UpdateAlert",
      "http": {
        "method": "PUT",
        "uri": "/jobs/{alertName}"
      },
      "input": {
        "payload": "alertDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          },
          "alertName": {
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "alertDetail": {
            "required": true,
            "type": "structure",
            "members": {
              "name": {
                "type": "string",
                "required": true
              },
              "displayName": {
                "type": "string",
                "required": true
              },
              "type": {
                "type": "string",
                "required": true
              },
              "state": {
                "type": "string"
              },
              "schedule": {
                "type": "structure",
                "required": true,
                "members": {
                  "type": {
                    "type": "string",
                    "required": true
                  },
                  "interval": {
                    "type": "string"
                  },
                  "cronExpression": {
                    "type": "string"
                  },
                  "dayOfWeek": {
                    "type": "integer"
                  },
                  "hour": {
                    "type": "integer"
                  },
                  "runImmediately": {
                    "type": "boolean"
                  }
                }
              },
              "configuration": {
                "type": "structure",
                "required": true,
                "members": {
                  "version": {
                    "type": "string",
                    "required": true
                  },
                  "type": {
                    "type": "string",
                    "required": true
                  },
                  "dashboard": {
                    "type": "string"
                  },
                  "queryList": {
                    "type": "list",
                    "required": true,
                    "members": {
                      "type": "structure",
                      "members": {
                        "storeType": {
                          "type": "string",
                          "required": true
                        },
                        "region": {
                          "type": "string",
                          "required": true
                        },
                        "project": {
                          "type": "string",
                          "required": true
                        },
                        "store": {
                          "type": "string",
                          "required": true
                        },
                        "roleArn": {
                          "type": "string"
                        },
                        "query": {
                          "type": "string",
                          "required": true
                        },
                        "timeSpanType": {
                          "type": "string"
                        },
                        "start": {
                          "type": "string"
                        },
                        "end": {
                          "type": "string"
                        },
                        "powerSqlMode": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "groupConfiguration": {
                    "type": "structure",
                    "required": true,
                    "members": {
                      "type": {
                        "type": "string",
                        "required": true
                      },
                      "fields": {
                        "type": "list",
                        "members": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "joinConfigurations": {
                    "type": "list",
                    "members": {
                      "type": "structure",
                      "members": {
                        "type": {
                          "type": "string",
                          "required": true
                        },
                        "condition": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "severityConfigurations": {
                    "type": "list",
                    "required": true,
                    "members": {
                      "type": "structure",
                      "members": {
                        "severity": {
                          "type": "integer",
                          "required": true
                        },
                        "evalCondition": {
                          "type": "structure",
                          "members": {
                            "condition": {
                              "type": "string",
                              "required": true
                            },
                            "countCondition": {
                              "type": "string",
                              "required": true
                            }
                          }
                        }
                      }
                    }
                  },
                  "labels": {
                    "type": "list",
                    "members": {
                      "type": "structure",
                      "required": true,
                      "members": {
                        "key": {
                          "type": "string",
                          "required": true
                        },
                        "value": {
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  },
                  "annotations": {
                    "type": "list",
                    "members": {
                      "type": "structure",
                      "required": true,
                      "members": {
                        "key": {
                          "type": "string",
                          "required": true
                        },
                        "value": {
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  },
                  "autoAnnotation": {
                    "type": "boolean",
                    "required": true
                  },
                  "sendResolved": {
                    "type": "boolean"
                  },
                  "threshold": {
                    "type": "integer",
                    "required": true
                  },
                  "noDataFire": {
                    "type": "boolean"
                  },
                  "noDataSeverity": {
                    "type": "integer"
                  },
                  "policyConfiguration": {
                    "type": "structure",
                    "required": true,
                    "members": {
                      "alertPolicyId": {
                        "type": "string",
                        "required": true
                      },
                      "actionPolicyId": {
                        "type": "string",
                        "required": true
                      },
                      "repeatInterval": {
                        "type": "string",
                        "required": true
                      },
                      "useDefault": {
                        "type": "boolean",
                        "required": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "createResourceRecord": {
      "name": "CreateResourceRecord",
      "http": {
        "method": "POST",
        "uri": "/resources/{resourceName}/records"
      },
      "input": {
        "payload": "record",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "resourceName": {
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "record": {
            "type": "structure",
            "required": true,
            "members": {
              "id": {
                "type": "string",
                "required": true
              },
              "tag": {
                "type": "string",
                "required": true
              },
              "value": {
                "type": "string",
                "required": true
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "updateResourceRecord": {
      "name": "UpdateResourceRecord",
      "http": {
        "method": "PUT",
        "uri": "/resources/{resourceName}/records/{recordId}"
      },
      "input": {
        "payload": "record",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "resourceName": {
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "recordId": {
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "record": {
            "type": "structure",
            "required": true,
            "members": {
              "id": {
                "type": "string",
                "required": true
              },
              "tag": {
                "type": "string",
                "required": true
              },
              "value": {
                "type": "string",
                "required": true
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getResourceRecord": {
      "name": "GetResourceRecord",
      "http": {
        "method": "GET",
        "uri": "/resources/{resourceName}/records/{recordId}"
      },
      "input": {
        "type": "structure",
        "members": {
          "resourceName": {
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "recordId": {
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listResourceRecord": {
      "name": "listResourceRecord",
      "http": {
        "method": "GET",
        "uri": "/resources/{resourceName}/records?offset={offset}&size={size}"
      },
      "input": {
        "type": "structure",
        "members": {
          "resourceName": {
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "offset": {
            "type": "string",
            "location": "uri"
          },
          "size": {
            "type": "string",
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "deleteResourceRecord": {
      "name": "DeleteResourceRecord",
      "http": {
        "method": "DELETE",
        "uri": "/resources/{resourceName}/records?ids={recordId}"
      },
      "input": {
        "type": "structure",
        "members": {
          "resourceName": {
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "recordId": {
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "listSavedsearch": {
      "name": "ListSavedsearch",
      "http": {
        "method": "GET",
        "uri": "/savedsearches"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "getSavedsearch": {
      "name": "GetSavedsearch",
      "http": {
        "method": "GET",
        "uri": "/savedsearches/{savedsearchName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          },
          "savedsearchName": {
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "deleteSavedsearch": {
      "name": "DeleteSavedsearch",
      "http": {
        "method": "DELETE",
        "uri": "/savedsearches/{savedsearchName}"
      },
      "input": {
        "type": "structure",
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          },
          "savedsearchName": {
            "type": "string",
            "required": true,
            "location": "uri"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "createSavedsearch": {
      "name": "CreateSavedsearch",
      "http": {
        "method": "POST",
        "uri": "/savedsearches"
      },
      "input": {
        "payload": "savedsearchDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          },
          "savedsearchDetail": {
            "required": true,
            "type": "structure",
            "members": {
              "savedsearchName": {
                "type": "string"
              },
              "logstore": {
                "type": "string"
              },
              "topic": {
                "type": "string"
              },
              "searchQuery": {
                "type": "string"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    },
    "updateSavedsearch": {
      "name": "UpdateSavedsearch",
      "http": {
        "method": "PUT",
        "uri": "/savedsearches/{savedsearchName}"
      },
      "input": {
        "payload": "savedsearchDetail",
        "type": "structure",
        "ContentMD5": true,
        "members": {
          "projectName": {
            "type": "string",
            "required": true,
            "location": "header"
          },
          "savedsearchName": {
            "type": "string",
            "required": true,
            "location": "uri"
          },
          "savedsearchDetail": {
            "required": true,
            "type": "structure",
            "members": {
              "savedsearchName": {
                "type": "string"
              },
              "logstore": {
                "type": "string"
              },
              "topic": {
                "type": "string"
              },
              "searchQuery": {
                "type": "string"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "request_id": {
            "location": "header",
            "name": "x-log-requestid"
          }
        }
      }
    }
  },
  "pagination": {

  }
}
